<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalAppbarContrast</key>
	<string>chartAmongNumber</string>
	<key>presenterStageAlignment</key>
	<string>activeConsumerRate</string>
	<key>projectionVariableTag</key>
	<string>smallFeatureDelay</string>
	<key>responseObserverShape</key>
	<string>labelActionDistance</string>
	<key>streamMementoDensity</key>
	<string>optimizerTierBound</string>
</dict>
</plist>
