<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSemanticsHue</key>
	<string>enabledMaterialPosition</string>
	<key>certificateCommandTension</key>
	<string>sortedLayoutRate</string>
	<key>currentCycleSkewy</key>
	<string>custompaintPerSingleton</string>
	<key>descriptionOutsideStrategy</key>
	<string>widgetTypeTheme</string>
	<key>granularCupertinoCoord</key>
	<string>profileAtVariable</string>
	<key>mobxCommandRotation</key>
	<string>seamlessLoopKind</string>
	<key>segueAwayMediator</key>
	<string>resizableMapTheme</string>
	<key>signDuringFramework</key>
	<string>tangentPhaseSkewy</string>
</dict>
</plist>
