<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectOutsideLevel</key>
	<string>autoPopupContrast</string>
	<key>elasticObserverMode</key>
	<string>navigationAmongValue</string>
	<key>grayscaleThroughMediator</key>
	<string>newestInjectionTheme</string>
	<key>loopFrameworkPadding</key>
	<string>presenterAboutChain</string>
	<key>reusableSignatureTop</key>
	<string>cupertinoLoopDirection</string>
	<key>variantSystemStatus</key>
	<string>anchorJobOrigin</string>
</dict>
</plist>
