<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineValueBrightness</key>
	<string>basicGridStyle</string>
	<key>extensionVisitorBorder</key>
	<string>capsuleParamEdge</string>
	<key>granularRectHue</key>
	<string>iterativeAllocatorRight</string>
	<key>missionBesideCycle</key>
	<string>standaloneDescriptionInterval</string>
	<key>multiChapterDistance</key>
	<string>switchAroundBuffer</string>
	<key>pinchableStateValidation</key>
	<string>accessibleDialogsDensity</string>
	<key>rapidRemainderSpacing</key>
	<string>opaqueCubitLeft</string>
	<key>sustainableEquipmentFlags</key>
	<string>similarDescriptorVelocity</string>
</dict>
</plist>
