<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTitleVisible</key>
	<string>injectionPatternHead</string>
	<key>basicRichtextForce</key>
	<string>binaryAboutScope</string>
	<key>nativeLayoutType</key>
	<string>subpixelThanPlatform</string>
	<key>navigationOrPattern</key>
	<string>utilStrategyDepth</string>
	<key>serviceIncludePhase</key>
	<string>localizationAtTask</string>
</dict>
</plist>
