<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationLayerRight</key>
	<string>gridNearState</string>
	<key>awaitVisitorInset</key>
	<string>independentResourcePressure</string>
	<key>builderOrComposite</key>
	<string>progressbarAdapterTail</string>
	<key>buttonInterpreterTint</key>
	<string>matrixContextColor</string>
	<key>functionalListenerFeedback</key>
	<string>sizedboxThanPlatform</string>
	<key>globalSignatureDensity</key>
	<string>concurrentDimensionPressure</string>
	<key>webQueueAppearance</key>
	<string>alphaLikeType</string>
</dict>
</plist>
