<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitViaVisitor</key>
	<string>dependencyLevelShape</string>
	<key>dedicatedSampleOpacity</key>
	<string>interfaceCycleKind</string>
	<key>extensionFromNumber</key>
	<string>durationStructureShape</string>
	<key>frameIncludeVar</key>
	<string>difficultCoordinatorRate</string>
	<key>localizationDespiteStyle</key>
	<string>spriteTaskFrequency</string>
	<key>mediocreCupertinoResponse</key>
	<string>popupNearPhase</string>
	<key>monsterExceptPlatform</key>
	<string>oldProviderType</string>
	<key>nodeCycleFlags</key>
	<string>gestureDespiteObserver</string>
	<key>positionPlatformCount</key>
	<string>singletonValueShape</string>
</dict>
</plist>
