<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnInJob</key>
	<string>usedTimerSkewy</string>
	<key>eagerLocalizationDuration</key>
	<string>cubitFacadeCenter</string>
	<key>gridviewFromCommand</key>
	<string>typicalCubeTag</string>
	<key>modulusVersusState</key>
	<string>elasticTweenPosition</string>
	<key>subpixelByMode</key>
	<string>deferredServiceDensity</string>
	<key>viewByState</key>
	<string>otherGridviewVisible</string>
</dict>
</plist>
