<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionTangentFeedback</key>
	<string>queryNearInterpreter</string>
	<key>greatReferenceStatus</key>
	<string>paddingOutsideParam</string>
	<key>interactiveRadiusCenter</key>
	<string>constraintAboutProcess</string>
	<key>missionObserverBound</key>
	<string>zoneProxyOrientation</string>
	<key>multiplicationStyleState</key>
	<string>completerProxyPosition</string>
	<key>otherCompletionAppearance</key>
	<string>topicDespitePhase</string>
	<key>resultDuringPrototype</key>
	<string>bitrateBeyondMemento</string>
	<key>rowStateDistance</key>
	<string>secondMobileState</string>
	<key>specifyGrainTheme</key>
	<string>numericalRouterColor</string>
</dict>
</plist>
