<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableStreamSaturation</key>
	<string>euclideanControllerTail</string>
	<key>deferredRectDelay</key>
	<string>composablePlateFlags</string>
	<key>descriptionCommandBottom</key>
	<string>delegateVariableSkewx</string>
	<key>finalDecorationInset</key>
	<string>providerWithoutTemple</string>
	<key>liteStoreTail</key>
	<string>taskValueFeedback</string>
	<key>previewSinceStructure</key>
	<string>backwardActionDirection</string>
	<key>rectShapeRight</key>
	<string>disabledLayerBound</string>
	<key>touchTypeSkewy</key>
	<string>spineDuringEnvironment</string>
</dict>
</plist>
