<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanAlignmentCoord</key>
	<string>rowVersusPrototype</string>
	<key>logarithmCycleScale</key>
	<string>resourceOutsideStage</string>
	<key>mainReducerResponse</key>
	<string>currentStreamIndex</string>
	<key>particleCycleInterval</key>
	<string>nativeActionTint</string>
	<key>radiusIncludePrototype</key>
	<string>comprehensiveViewPosition</string>
	<key>signAgainstInterpreter</key>
	<string>flexibleContainerFlags</string>
</dict>
</plist>
