<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaWithoutAction</key>
	<string>draggableCallbackAlignment</string>
	<key>crucialTechniqueRight</key>
	<string>heroThroughChain</string>
	<key>dropdownbuttonBufferMomentum</key>
	<string>signatureAdapterMargin</string>
	<key>prismaticIntensityAlignment</key>
	<string>stateByVisitor</string>
	<key>riverpodObserverAcceleration</key>
	<string>cartesianQueueValidation</string>
</dict>
</plist>
