<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedLocalizationCenter</key>
	<string>notifierBeyondNumber</string>
	<key>arithmeticByBuffer</key>
	<string>synchronousMonsterTension</string>
	<key>associatedRadiusStatus</key>
	<string>uniqueMobileDensity</string>
	<key>checklistBridgeDirection</key>
	<string>agileExceptionScale</string>
	<key>decorationOutsideShape</key>
	<string>completionOperationState</string>
	<key>elasticControllerBorder</key>
	<string>enabledShaderInteraction</string>
	<key>eventShapeScale</key>
	<string>hierarchicalClipperDistance</string>
	<key>publicGroupSize</key>
	<string>firstRectAcceleration</string>
	<key>textureContextTint</key>
	<string>easyResolverVisible</string>
	<key>timerMediatorHead</key>
	<string>lastMenuValidation</string>
</dict>
</plist>
