<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferFacadeBrightness</key>
	<string>spotWithoutProcess</string>
	<key>constUnaryFormat</key>
	<string>themeBufferPressure</string>
	<key>curveThanLevel</key>
	<string>localizationVariableOpacity</string>
	<key>futureKindFeedback</key>
	<string>cubeAlongForm</string>
	<key>ignoredModalStyle</key>
	<string>routeCycleStyle</string>
	<key>petAsFunction</key>
	<string>tensorPopupScale</string>
	<key>pointStructureOpacity</key>
	<string>interactorInterpreterFormat</string>
	<key>respectiveViewKind</key>
	<string>gramCycleValidation</string>
	<key>usageLayerVisibility</key>
	<string>mobilePainterShape</string>
</dict>
</plist>
