<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterTypeBound</key>
	<string>roleFunctionAcceleration</string>
	<key>injectionFlyweightTop</key>
	<string>significantOptionSpacing</string>
	<key>interactiveNotificationSaturation</key>
	<string>loopWithMemento</string>
	<key>intermediateSubscriptionAlignment</key>
	<string>gradientFormCenter</string>
	<key>lossBufferBound</key>
	<string>controllerPatternKind</string>
	<key>tableFunctionColor</key>
	<string>navigationIncludeStructure</string>
</dict>
</plist>
