<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAgainstScope</key>
	<string>textureThanObserver</string>
	<key>cacheAboutCycle</key>
	<string>significantEquipmentBehavior</string>
	<key>curveDuringMemento</key>
	<string>allocatorMementoInteraction</string>
	<key>extensionPlatformOrigin</key>
	<string>permanentGridviewScale</string>
	<key>momentumAlongKind</key>
	<string>concurrentInterpolationOrigin</string>
	<key>paddingDecoratorFrequency</key>
	<string>blocCompositeResponse</string>
	<key>rectFromStyle</key>
	<string>sensorWithoutCycle</string>
	<key>sharedFeatureCount</key>
	<string>unaryLayerOffset</string>
	<key>spotContextCenter</key>
	<string>painterFormSize</string>
	<key>streamActionDirection</key>
	<string>pageviewBridgeAppearance</string>
</dict>
</plist>
