<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorNearShape</key>
	<string>explicitTopicPressure</string>
	<key>factoryModeVelocity</key>
	<string>lazyResponseOffset</string>
	<key>mobileFutureCenter</key>
	<string>logAlongFunction</string>
	<key>smallFactoryDensity</key>
	<string>characterFlyweightCenter</string>
	<key>substantialSkirtInset</key>
	<string>effectAndVariable</string>
	<key>tangentStructureShape</key>
	<string>cubitBesideNumber</string>
	<key>usageParameterTheme</key>
	<string>respectiveAxisPressure</string>
</dict>
</plist>
