<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionObserverSkewx</key>
	<string>mediocreLayoutBorder</string>
	<key>appbarVarRotation</key>
	<string>segmentLevelFeedback</string>
	<key>currentSceneMomentum</key>
	<string>customHashCenter</string>
	<key>standaloneTechniqueVisibility</key>
	<string>hardLogarithmFormat</string>
</dict>
</plist>
