<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudePreviewCoord</key>
	<string>alignmentAlongJob</string>
	<key>elasticFeatureLeft</key>
	<string>globalConvolutionVelocity</string>
	<key>gestureAroundAction</key>
	<string>prismaticRadiusSkewy</string>
	<key>gridBufferSkewy</key>
	<string>specifySceneMomentum</string>
	<key>queueStateOrigin</key>
	<string>heroPlatformSaturation</string>
	<key>referenceDespiteComposite</key>
	<string>tableVersusProcess</string>
	<key>sceneBeyondMethod</key>
	<string>tangentDuringJob</string>
	<key>smartMethodAcceleration</key>
	<string>painterAlongStructure</string>
	<key>spotViaFunction</key>
	<string>segmentKindAlignment</string>
	<key>techniqueThanJob</key>
	<string>activityWorkLocation</string>
</dict>
</plist>
