<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAgainstNumber</key>
	<string>mutableSpriteEdge</string>
	<key>borderNumberBottom</key>
	<string>taskContextMode</string>
	<key>boxVarAcceleration</key>
	<string>semanticContainerBrightness</string>
	<key>displayableDialogsOrigin</key>
	<string>transitionThanType</string>
	<key>interfaceAwayJob</key>
	<string>segueProcessMode</string>
	<key>liteResolverState</key>
	<string>gestureParamMargin</string>
	<key>spineNumberForce</key>
	<string>giftModeOpacity</string>
	<key>unactivatedMomentumAppearance</key>
	<string>responseStrategyOrientation</string>
</dict>
</plist>
