<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentPhaseCenter</key>
	<string>positionTaskTag</string>
	<key>decorationForComposite</key>
	<string>overlayCompositeVelocity</string>
	<key>indicatorFrameworkSkewy</key>
	<string>coordinatorByFlyweight</string>
	<key>kernelAndAction</key>
	<string>axisContextOpacity</string>
	<key>mediaInsideValue</key>
	<string>plateIncludeSystem</string>
	<key>monsterBufferSkewx</key>
	<string>giftInsideWork</string>
	<key>robustReductionCoord</key>
	<string>ephemeralHashStyle</string>
	<key>routerCycleInterval</key>
	<string>consultativeTickerTop</string>
	<key>rowDuringVar</key>
	<string>publicCallbackInterval</string>
</dict>
</plist>
