<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constScreenDistance</key>
	<string>behaviorThroughState</string>
	<key>delegateTempleRotation</key>
	<string>lostResolverTag</string>
	<key>diversifiedFrameFeedback</key>
	<string>notificationOfStructure</string>
	<key>multiResolverDuration</key>
	<string>synchronousCompleterTransparency</string>
	<key>normalBinaryAppearance</key>
	<string>chapterVersusActivity</string>
	<key>similarMapSpeed</key>
	<string>apertureAroundStrategy</string>
	<key>subscriptionIncludeVar</key>
	<string>tabbarOfStructure</string>
	<key>subsequentNormShade</key>
	<string>customParticleResponse</string>
	<key>temporaryBulletRotation</key>
	<string>responseAsLevel</string>
</dict>
</plist>
