<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorVarLocation</key>
	<string>consumerPhaseLeft</string>
	<key>customizedIntensitySpacing</key>
	<string>notificationLikeMediator</string>
	<key>hyperbolicTangentAppearance</key>
	<string>significantContainerState</string>
	<key>movementPhaseKind</key>
	<string>grainStatePadding</string>
	<key>robustVectorDensity</key>
	<string>eventWorkTransparency</string>
	<key>toolFromCycle</key>
	<string>borderVarForce</string>
</dict>
</plist>
