<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncNavigatorInteraction</key>
	<string>logMediatorKind</string>
	<key>baseTempleHead</key>
	<string>staticMobileName</string>
	<key>largeTransitionShade</key>
	<string>catalystVisitorEdge</string>
	<key>lostModelTop</key>
	<string>overlaySinceStructure</string>
	<key>multiplicationLevelHue</key>
	<string>managerPatternResponse</string>
	<key>previewVarInteraction</key>
	<string>lastPetRight</string>
	<key>rectOutsideVisitor</key>
	<string>compositionalNibDepth</string>
	<key>subtlePriorityDensity</key>
	<string>actionStrategyOrientation</string>
	<key>symmetricInjectionBehavior</key>
	<string>prevBuilderSize</string>
	<key>typicalResourceRight</key>
	<string>delicateParticleDistance</string>
</dict>
</plist>
