<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellVersusSingleton</key>
	<string>independentStoreShape</string>
	<key>customizedParticleHue</key>
	<string>imperativeAnchorVelocity</string>
	<key>decorationOutsideLevel</key>
	<string>marginParamFrequency</string>
	<key>iconCycleCenter</key>
	<string>similarStorageTag</string>
	<key>localFrameRate</key>
	<string>tensorSizeDensity</string>
	<key>mediaqueryContextRight</key>
	<string>concurrentObserverOrigin</string>
	<key>presenterAsBridge</key>
	<string>tableAdapterAlignment</string>
	<key>prismaticNavigatorAppearance</key>
	<string>commandOfNumber</string>
	<key>projectWithVar</key>
	<string>transformerOutsideShape</string>
	<key>statefulBlocInterval</key>
	<string>webStateOrientation</string>
</dict>
</plist>
