<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedLayoutSkewy</key>
	<string>awaitKindHue</string>
	<key>custompaintInsideChain</key>
	<string>directTaskMomentum</string>
	<key>globalSwitchInterval</key>
	<string>localizationDuringVar</string>
	<key>mobileLikeState</key>
	<string>responsiveThemeMomentum</string>
	<key>sizedboxJobMomentum</key>
	<string>certificateBeyondInterpreter</string>
</dict>
</plist>
