<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaLikeProcess</key>
	<string>singletonPatternSize</string>
	<key>axisPerCommand</key>
	<string>bulletLayerTag</string>
	<key>baselineAdapterEdge</key>
	<string>rectDespiteMemento</string>
	<key>draggableMobileContrast</key>
	<string>lastSwitchVelocity</string>
	<key>sophisticatedMediaqueryTail</key>
	<string>tabviewPlatformDirection</string>
	<key>substantialStorageFrequency</key>
	<string>labelWithDecorator</string>
</dict>
</plist>
