<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocStructureSaturation</key>
	<string>specifyButtonStyle</string>
	<key>composableRectPadding</key>
	<string>stepAroundFunction</string>
	<key>controllerAlongAction</key>
	<string>grainViaInterpreter</string>
	<key>independentHashDistance</key>
	<string>exceptionBySystem</string>
	<key>petNearProxy</key>
	<string>effectAwayInterpreter</string>
	<key>responsiveQueueHue</key>
	<string>agileInterpolationOrientation</string>
	<key>taskDecoratorName</key>
	<string>kernelTaskFlags</string>
	<key>variantEnvironmentVelocity</key>
	<string>sceneAndTask</string>
</dict>
</plist>
