<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionBrushAlignment</key>
	<string>sinkForCommand</string>
	<key>disabledSizedboxHue</key>
	<string>effectOperationBehavior</string>
	<key>diversifiedScrollMargin</key>
	<string>entropyInsideNumber</string>
	<key>histogramStateEdge</key>
	<string>staticBulletSkewy</string>
	<key>publicAxisRight</key>
	<string>consumerValueTag</string>
	<key>rectLayerMode</key>
	<string>activeTimerLeft</string>
	<key>secondLayoutSkewx</key>
	<string>containerNearComposite</string>
	<key>usecaseSinceFramework</key>
	<string>operationAndPhase</string>
</dict>
</plist>
