<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateAmongProcess</key>
	<string>repositoryStyleDirection</string>
	<key>entityExceptEnvironment</key>
	<string>interfaceOrForm</string>
	<key>flexibleActionPressure</key>
	<string>resourceMethodType</string>
	<key>spriteFromTask</key>
	<string>ephemeralTextTransparency</string>
	<key>techniqueWithLevel</key>
	<string>brushProxyShape</string>
	<key>themeFromCycle</key>
	<string>protocolSinceCommand</string>
	<key>usageAndBuffer</key>
	<string>cartesianViewVelocity</string>
</dict>
</plist>
