<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseMethodTheme</key>
	<string>streamAlongForm</string>
	<key>compositionalDurationAcceleration</key>
	<string>controllerJobColor</string>
	<key>discardedExponentOffset</key>
	<string>cupertinoPrototypeDelay</string>
	<key>geometricNibAppearance</key>
	<string>asynchronousScrollRight</string>
	<key>grainLikeVisitor</key>
	<string>directlyContainerCoord</string>
	<key>mutableCheckboxInterval</key>
	<string>anchorParameterSkewy</string>
</dict>
</plist>
