<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSizedboxInset</key>
	<string>momentumCompositeState</string>
	<key>certificateFunctionPressure</key>
	<string>segueWithoutTask</string>
	<key>channelsTaskTension</key>
	<string>globalPriorityTension</string>
	<key>controllerTaskSkewy</key>
	<string>coordinatorJobSkewy</string>
	<key>currentExponentFrequency</key>
	<string>modulusViaScope</string>
	<key>modulusLevelStyle</key>
	<string>progressbarContainWork</string>
	<key>responsiveCanvasTop</key>
	<string>nativeCommandTag</string>
	<key>scrollVariableSpeed</key>
	<string>interactorAroundNumber</string>
	<key>storageTierStyle</key>
	<string>timerLevelOrigin</string>
</dict>
</plist>
