<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelCompositeCenter</key>
	<string>titleStageType</string>
	<key>composablePopupAppearance</key>
	<string>brushVersusPhase</string>
	<key>composableResourceScale</key>
	<string>skirtDespiteStage</string>
	<key>customStoreSize</key>
	<string>commandDuringPattern</string>
	<key>denseTabbarCoord</key>
	<string>multiRepositoryDuration</string>
	<key>modulusDespiteOperation</key>
	<string>uniqueDurationMode</string>
	<key>responseByMode</key>
	<string>extensionVariableScale</string>
</dict>
</plist>
