<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionHandlerDistance</key>
	<string>memberVersusObserver</string>
	<key>alertLikeVisitor</key>
	<string>firstAnchorValidation</string>
	<key>completionJobTop</key>
	<string>petAndStage</string>
	<key>discardedCollectionAcceleration</key>
	<string>projectionVariableBottom</string>
	<key>hierarchicalSizeKind</key>
	<string>animatedMemberHead</string>
	<key>layerTierDirection</key>
	<string>newestPlaybackInset</string>
	<key>liteEventContrast</key>
	<string>labelLevelInset</string>
	<key>monsterInsideCommand</key>
	<string>aspectWithSystem</string>
	<key>resourceStructureDuration</key>
	<string>methodCompositeAcceleration</string>
	<key>scrollableFeatureIndex</key>
	<string>callbackCommandBehavior</string>
</dict>
</plist>
