<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryWithoutState</key>
	<string>sliderOrCommand</string>
	<key>adaptiveListviewFormat</key>
	<string>framePrototypePadding</string>
	<key>borderForMemento</key>
	<string>materialStorageShape</string>
	<key>checklistOrContext</key>
	<string>similarSampleCount</string>
	<key>immediateInterfaceTop</key>
	<string>mutableSpriteOffset</string>
	<key>multiSessionOrientation</key>
	<string>newestSemanticsColor</string>
	<key>reducerPatternBehavior</key>
	<string>constraintMementoName</string>
	<key>resizableBatchAppearance</key>
	<string>musicStrategySkewx</string>
	<key>routerTaskDensity</key>
	<string>alignmentBridgeResponse</string>
	<key>tableScopeState</key>
	<string>webArithmeticHead</string>
</dict>
</plist>
