<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionOutsideComposite</key>
	<string>concurrentCompletionTransparency</string>
	<key>effectStyleInset</key>
	<string>equalizationThanActivity</string>
	<key>gestureThroughKind</key>
	<string>lastConstraintEdge</string>
	<key>smallParticlePadding</key>
	<string>widgetValueLeft</string>
	<key>topicAsLevel</key>
	<string>activatedClipperCount</string>
</dict>
</plist>
