<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorInterpreterShape</key>
	<string>transformerAlongAdapter</string>
	<key>appbarDecoratorHead</key>
	<string>specifierShapeResponse</string>
	<key>appbarVersusActivity</key>
	<string>consultativeIntensityFeedback</string>
	<key>globalRichtextTail</key>
	<string>notificationIncludeFacade</string>
	<key>smallFactoryTail</key>
	<string>rectMediatorColor</string>
	<key>sortedSessionName</key>
	<string>axisExceptVariable</string>
</dict>
</plist>
