<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSinkLocation</key>
	<string>titleAboutType</string>
	<key>heapDuringJob</key>
	<string>repositoryPrototypePressure</string>
	<key>substantialTaskForce</key>
	<string>signStructureTag</string>
	<key>temporaryDropdownbuttonInterval</key>
	<string>richtextOperationLocation</string>
	<key>toolVisitorMode</key>
	<string>descriptionAsPrototype</string>
</dict>
</plist>
