<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousReferenceState</key>
	<string>arithmeticTaskTransparency</string>
	<key>declarativeSignatureLocation</key>
	<string>tableVisitorTail</string>
	<key>gradientAgainstStrategy</key>
	<string>tweenAlongTemple</string>
	<key>nibActivityRight</key>
	<string>errorStyleOrientation</string>
	<key>sceneCompositePressure</key>
	<string>titleAboutFlyweight</string>
	<key>webSinkType</key>
	<string>firstMetadataSpeed</string>
</dict>
</plist>
