<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetWithBridge</key>
	<string>previewModeFrequency</string>
	<key>curveDecoratorDirection</key>
	<string>configurationLikeComposite</string>
	<key>groupForFacade</key>
	<string>independentNotifierBound</string>
	<key>independentViewTension</key>
	<string>completerProcessTint</string>
	<key>pinchableAlphaTop</key>
	<string>awaitAboutProxy</string>
	<key>promiseCommandFrequency</key>
	<string>textMediatorSize</string>
	<key>queryProxyResponse</key>
	<string>cupertinoVariableVisibility</string>
	<key>sizeSystemRight</key>
	<string>checklistAlongType</string>
	<key>tensorIsolateSpacing</key>
	<string>routeBridgeOrigin</string>
</dict>
</plist>
