<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintFrameworkSpeed</key>
	<string>usageAwayProxy</string>
	<key>prevContainerLeft</key>
	<string>singletonVersusStyle</string>
	<key>spotAtVisitor</key>
	<string>anchorInActivity</string>
	<key>stateOperationFormat</key>
	<string>sortedObserverVisibility</string>
	<key>statelessAnimationInset</key>
	<string>lazyButtonRotation</string>
</dict>
</plist>
