<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorNumberCenter</key>
	<string>kernelStageOpacity</string>
	<key>arithmeticTypeLeft</key>
	<string>animationSystemName</string>
	<key>gridOutsideBuffer</key>
	<string>storageAgainstNumber</string>
	<key>invisibleManagerTension</key>
	<string>segueBeyondKind</string>
	<key>referenceAgainstEnvironment</key>
	<string>grainMethodOrientation</string>
	<key>resourceAlongEnvironment</key>
	<string>grainVersusInterpreter</string>
	<key>standaloneEventHead</key>
	<string>particleParameterTag</string>
	<key>statefulTransformerBrightness</key>
	<string>groupAlongStructure</string>
	<key>statelessAspectTheme</key>
	<string>dropdownbuttonOperationState</string>
</dict>
</plist>
