<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanTextVelocity</key>
	<string>inheritedInjectionPressure</string>
	<key>ternaryPhaseDelay</key>
	<string>cellModeAlignment</string>
	<key>variantWithPlatform</key>
	<string>flexibleAssetColor</string>
</dict>
</plist>
