<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxWithVisitor</key>
	<string>layerChainRate</string>
	<key>capacitiesThroughMode</key>
	<string>delicateRowFrequency</string>
	<key>hyperbolicLabelPosition</key>
	<string>alphaOperationCount</string>
	<key>menuTypeFrequency</key>
	<string>accessibleModelVisibility</string>
	<key>multiplicationAroundFunction</key>
	<string>customLayoutOpacity</string>
	<key>opaqueTransitionPosition</key>
	<string>originalButtonBehavior</string>
	<key>robustShaderSkewy</key>
	<string>chartContainPrototype</string>
	<key>singleRepositoryTheme</key>
	<string>kernelInActivity</string>
	<key>singletonAmongChain</key>
	<string>animatedcontainerValueMargin</string>
	<key>transitionThroughObserver</key>
	<string>popupAboutMode</string>
</dict>
</plist>
