<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarVersusKind</key>
	<string>effectForPhase</string>
	<key>backwardSkirtMode</key>
	<string>protectedFactoryPadding</string>
	<key>binaryThroughContext</key>
	<string>sensorValueEdge</string>
	<key>configurationByParam</key>
	<string>previewSingletonFeedback</string>
	<key>errorTempleShape</key>
	<string>futureMethodBorder</string>
	<key>localizationOrCommand</key>
	<string>interpolationPatternForce</string>
	<key>queueAsLevel</key>
	<string>asyncContainTier</string>
	<key>sampleJobShape</key>
	<string>queryDespitePrototype</string>
</dict>
</plist>
