<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityThroughType</key>
	<string>grainAwayMemento</string>
	<key>hashContextBottom</key>
	<string>mapForStyle</string>
	<key>hyperbolicTernarySkewy</key>
	<string>mutableTopicMomentum</string>
	<key>lostWidgetInset</key>
	<string>displayableHashOrientation</string>
	<key>pageviewBesideSystem</key>
	<string>anchorPatternBorder</string>
	<key>ternaryInsideCommand</key>
	<string>radiusInStructure</string>
</dict>
</plist>
