<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintOfType</key>
	<string>directlyLayoutScale</string>
	<key>modalShapeTheme</key>
	<string>musicShapeTail</string>
	<key>nativeWorkflowCount</key>
	<string>nibAroundShape</string>
	<key>positionOfTier</key>
	<string>operationStateTransparency</string>
	<key>sortedInjectionTransparency</key>
	<string>getxOperationResponse</string>
	<key>taskInsideTier</key>
	<string>consultativeMenuTransparency</string>
</dict>
</plist>
