<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedModulusBrightness</key>
	<string>transformerIncludeStructure</string>
	<key>asynchronousHandlerLeft</key>
	<string>assetWithoutObserver</string>
	<key>batchShapeEdge</key>
	<string>remainderFlyweightInset</string>
	<key>chapterVersusForm</key>
	<string>diffableChannelMomentum</string>
	<key>hashAsValue</key>
	<string>shaderAmongState</string>
	<key>normalRowStyle</key>
	<string>roleFunctionInterval</string>
	<key>progressbarDecoratorKind</key>
	<string>nibValueSaturation</string>
	<key>sinkPerVariable</key>
	<string>presenterByShape</string>
</dict>
</plist>
