<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAmongFacade</key>
	<string>persistentStatefulCoord</string>
	<key>composableCoordinatorFormat</key>
	<string>criticalInstructionColor</string>
	<key>cupertinoPrototypeStatus</key>
	<string>directManagerDensity</string>
	<key>lazyTaskAppearance</key>
	<string>inheritedChallengeInset</string>
	<key>menuDespiteShape</key>
	<string>delegateAndVar</string>
	<key>sizeTempleVisibility</key>
	<string>grainSystemCount</string>
	<key>sortedRequestSpacing</key>
	<string>riverpodForKind</string>
	<key>variantWithoutMediator</key>
	<string>usedEqualizationLeft</string>
</dict>
</plist>
