<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityByPattern</key>
	<string>marginFormShade</string>
	<key>boxshadowShapeIndex</key>
	<string>criticalViewContrast</string>
	<key>dedicatedBinaryColor</key>
	<string>lossPerPattern</string>
	<key>effectAsSingleton</key>
	<string>persistentMobxDensity</string>
	<key>extensionLevelEdge</key>
	<string>blocOfProxy</string>
	<key>intuitivePlaybackDistance</key>
	<string>usedTaskHue</string>
	<key>listviewUntilSingleton</key>
	<string>alphaExceptNumber</string>
	<key>visibleProviderTint</key>
	<string>oldBuilderSpacing</string>
</dict>
</plist>
