<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSpecifierVelocity</key>
	<string>presenterDecoratorMargin</string>
	<key>currentBitrateTag</key>
	<string>materialDecorationName</string>
	<key>durationDespiteStage</key>
	<string>observerActionShade</string>
	<key>durationTempleSaturation</key>
	<string>granularSliderBound</string>
	<key>interfaceAgainstOperation</key>
	<string>denseBlocAppearance</string>
	<key>interfaceOfAdapter</key>
	<string>configurationAboutMemento</string>
	<key>multiLocalizationShape</key>
	<string>layoutOrKind</string>
	<key>numericalContainerMargin</key>
	<string>metadataContextDuration</string>
	<key>offsetMethodFlags</key>
	<string>radioSinceVariable</string>
	<key>sustainableSpineHead</key>
	<string>iconTempleHue</string>
</dict>
</plist>
