<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxPlatformColor</key>
	<string>durationCommandMargin</string>
	<key>kernelByMediator</key>
	<string>bulletKindType</string>
	<key>mainResourcePadding</key>
	<string>commonGroupTransparency</string>
	<key>responsiveChannelsPadding</key>
	<string>frameCommandShade</string>
	<key>semanticTouchOrientation</key>
	<string>alertThanKind</string>
	<key>sinkStyleDuration</key>
	<string>difficultResolverScale</string>
	<key>taskActionShape</key>
	<string>resilientPaddingDelay</string>
</dict>
</plist>
