<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentPhaseStyle</key>
	<string>delegateThanEnvironment</string>
	<key>capacitiesSingletonCenter</key>
	<string>accessoryVarDirection</string>
	<key>completerFlyweightTheme</key>
	<string>channelNumberVelocity</string>
	<key>independentLogarithmCoord</key>
	<string>granularDescriptorAcceleration</string>
	<key>tickerStructureRotation</key>
	<string>topicDecoratorPressure</string>
	<key>uniformResolverStatus</key>
	<string>buttonStyleValidation</string>
</dict>
</plist>
