<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerBySystem</key>
	<string>adaptiveCaptionState</string>
	<key>exponentFrameworkIndex</key>
	<string>ternaryFlyweightTheme</string>
	<key>interfaceDespiteDecorator</key>
	<string>cartesianDurationBrightness</string>
	<key>reducerExceptMediator</key>
	<string>requestActionResponse</string>
	<key>rowTypeTension</key>
	<string>compositionVersusBuffer</string>
	<key>specifyUsageVisibility</key>
	<string>threadKindKind</string>
	<key>storageThanScope</key>
	<string>parallelLabelRight</string>
	<key>symmetricRequestRight</key>
	<string>localPlatePosition</string>
</dict>
</plist>
