<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxLikeComposite</key>
	<string>instructionWithoutPattern</string>
	<key>configurationNearParam</key>
	<string>queryDecoratorHead</string>
	<key>layoutAndNumber</key>
	<string>rapidRouterStyle</string>
	<key>parallelCurveSkewx</key>
	<string>controllerOperationFrequency</string>
	<key>resolverStrategyRate</key>
	<string>toolPerPhase</string>
</dict>
</plist>
