<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorCycleLocation</key>
	<string>coordinatorKindCount</string>
	<key>builderBySingleton</key>
	<string>queueBesideType</string>
	<key>cupertinoToolTint</key>
	<string>brushOfAction</string>
	<key>factoryCommandOrigin</key>
	<string>configurationByStage</string>
	<key>missionActivityHead</key>
	<string>servicePerTier</string>
	<key>navigationPatternBound</key>
	<string>cartesianBinaryAlignment</string>
	<key>pageviewInFramework</key>
	<string>zoneStyleRotation</string>
	<key>priorChartFormat</key>
	<string>factoryNumberBehavior</string>
	<key>radioPhaseResponse</key>
	<string>layoutCycleSize</string>
	<key>standaloneConsumerShade</key>
	<string>delegateByMemento</string>
</dict>
</plist>
