<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocEnvironmentInset</key>
	<string>tensorNormKind</string>
	<key>coordinatorIncludeInterpreter</key>
	<string>cardAsActivity</string>
	<key>descriptorStageDepth</key>
	<string>checkboxCommandInset</string>
	<key>lastPriorityFlags</key>
	<string>containerFromScope</string>
	<key>profileCompositeTail</key>
	<string>advancedContainerPadding</string>
	<key>queueInsideBridge</key>
	<string>discardedSingletonPosition</string>
	<key>richtextParamSaturation</key>
	<string>equipmentObserverOrigin</string>
	<key>rowOperationTint</key>
	<string>sampleValueType</string>
</dict>
</plist>
