<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandLikeKind</key>
	<string>beginnerDurationBehavior</string>
	<key>enabledSubscriptionPressure</key>
	<string>synchronousArithmeticShade</string>
	<key>factoryUntilMemento</key>
	<string>sineIncludeTemple</string>
	<key>getxNumberStyle</key>
	<string>commandBridgeSkewx</string>
	<key>materialControllerStyle</key>
	<string>titleTempleInteraction</string>
	<key>overlayStrategyDelay</key>
	<string>animationShapeFeedback</string>
	<key>petActionPadding</key>
	<string>providerFrameworkOrientation</string>
	<key>rowFormState</key>
	<string>sceneAtPhase</string>
	<key>sliderInSystem</key>
	<string>sessionCompositeInteraction</string>
</dict>
</plist>
