<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardFrameAcceleration</key>
	<string>transitionLikeNumber</string>
	<key>channelProxyHue</key>
	<string>labelByTier</string>
	<key>hyperbolicOffsetTint</key>
	<string>widgetPatternAlignment</string>
	<key>nativePreviewTail</key>
	<string>textureAtValue</string>
	<key>projectionFromAction</key>
	<string>vectorNumberCenter</string>
	<key>sliderBesideScope</key>
	<string>containerTaskAlignment</string>
</dict>
</plist>
