<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileRoleMode</key>
	<string>seamlessPlateDuration</string>
	<key>constraintAroundVisitor</key>
	<string>numericalLocalizationForce</string>
	<key>coordinatorShapeTop</key>
	<string>agileDimensionKind</string>
	<key>gesturedetectorIncludePlatform</key>
	<string>dedicatedPrecisionDuration</string>
	<key>interactorContainJob</key>
	<string>geometricUnaryFlags</string>
	<key>pageviewVisitorPosition</key>
	<string>stepActivityType</string>
	<key>routeWithStrategy</key>
	<string>primaryConstraintBorder</string>
	<key>slashOrContext</key>
	<string>injectionTypeDistance</string>
	<key>smartTweenVisible</key>
	<string>positionLikeMode</string>
</dict>
</plist>
