<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheByPhase</key>
	<string>multiplicationThanVar</string>
	<key>comprehensiveCurveStatus</key>
	<string>desktopEntityRate</string>
	<key>containerLikeDecorator</key>
	<string>publicSizedboxBorder</string>
	<key>independentCurveType</key>
	<string>slashLikeFramework</string>
	<key>inheritedRowBound</key>
	<string>resolverOperationDepth</string>
	<key>rapidMaterialType</key>
	<string>disabledChartFlags</string>
	<key>sortedLocalizationIndex</key>
	<string>chartOperationSpeed</string>
	<key>topicAboutMethod</key>
	<string>geometricCellValidation</string>
	<key>webConstraintType</key>
	<string>mutableZoneOrigin</string>
	<key>zoneWithoutPhase</key>
	<string>respectiveStampTheme</string>
</dict>
</plist>
