<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateStyleSkewx</key>
	<string>invisibleGraphBound</string>
	<key>featurePerProcess</key>
	<string>specifyDrawerDirection</string>
	<key>interactorLikeStructure</key>
	<string>providerPhaseRotation</string>
	<key>navigatorAboutTemple</key>
	<string>statefulObserverTail</string>
	<key>overlayTierTension</key>
	<string>dialogsInFacade</string>
	<key>radiusStageBorder</key>
	<string>typicalChapterCoord</string>
	<key>tabbarAdapterFeedback</key>
	<string>modulusJobBorder</string>
	<key>usageThanMode</key>
	<string>assetAdapterColor</string>
</dict>
</plist>
