<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeGraphOrientation</key>
	<string>rowInDecorator</string>
	<key>gridAgainstFacade</key>
	<string>scaleInsideAction</string>
	<key>invisibleProviderType</key>
	<string>cubitWorkColor</string>
	<key>unsortedButtonTag</key>
	<string>variantBeyondTask</string>
</dict>
</plist>
