<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionLevelVisibility</key>
	<string>presenterVersusMethod</string>
	<key>axisIncludeForm</key>
	<string>chartIncludeLevel</string>
	<key>completerThanKind</key>
	<string>respectiveMissionMargin</string>
	<key>crudeZoneDirection</key>
	<string>cubePatternContrast</string>
	<key>cubeDespiteNumber</key>
	<string>hierarchicalProviderInteraction</string>
	<key>dropdownbuttonJobHead</key>
	<string>giftUntilValue</string>
	<key>rectOrTask</key>
	<string>mutableFutureKind</string>
	<key>secondObserverValidation</key>
	<string>segmentCommandMomentum</string>
	<key>titleWorkCoord</key>
	<string>statefulCaptionTheme</string>
	<key>transformerFunctionStyle</key>
	<string>tangentValueSpeed</string>
</dict>
</plist>
