<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackValueTag</key>
	<string>riverpodTaskCoord</string>
	<key>concurrentCurveAppearance</key>
	<string>constraintCommandTransparency</string>
	<key>granularUsecaseHue</key>
	<string>cardParameterName</string>
	<key>intuitiveFutureBorder</key>
	<string>custompaintSincePlatform</string>
	<key>movementModeBound</key>
	<string>positionWorkRotation</string>
	<key>singletonInsideLevel</key>
	<string>immediateCustompaintScale</string>
</dict>
</plist>
