<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOfTemple</key>
	<string>commandVisitorRotation</string>
	<key>explicitProjectionStyle</key>
	<string>navigationSingletonFeedback</string>
	<key>grainAwayWork</key>
	<string>marginVersusFacade</string>
	<key>integerWithoutTemple</key>
	<string>appbarFlyweightDirection</string>
	<key>listenerLikeLayer</key>
	<string>curveViaInterpreter</string>
	<key>monsterByStage</key>
	<string>ignoredTabviewBrightness</string>
	<key>oldCompleterTheme</key>
	<string>unaryStructureMomentum</string>
	<key>resourceBeyondChain</key>
	<string>certificateInsideStructure</string>
	<key>ternaryDespiteActivity</key>
	<string>actionJobSaturation</string>
	<key>tweenMementoEdge</key>
	<string>protocolLikeSystem</string>
</dict>
</plist>
