<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectShapeDelay</key>
	<string>modelNumberDelay</string>
	<key>assetUntilFunction</key>
	<string>projectionFrameworkAppearance</string>
	<key>coordinatorStageBottom</key>
	<string>heapAdapterOrigin</string>
	<key>crudeRectPosition</key>
	<string>stateScopeRight</string>
	<key>normalPopupSkewy</key>
	<string>futureExceptParam</string>
	<key>reducerChainSkewy</key>
	<string>histogramParamBound</string>
	<key>repositoryObserverMomentum</key>
	<string>staticSpecifierRight</string>
	<key>stateProxyAlignment</key>
	<string>customCallbackContrast</string>
	<key>tabbarPerStructure</key>
	<string>swiftAboutPrototype</string>
	<key>ternaryExceptMethod</key>
	<string>cubitPerObserver</string>
</dict>
</plist>
