<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionAwaitVisibility</key>
	<string>geometricContainerName</string>
	<key>asynchronousDecorationForce</key>
	<string>statelessSinceCommand</string>
	<key>binaryWorkStyle</key>
	<string>statefulViaShape</string>
	<key>consumerBesideMethod</key>
	<string>hyperbolicAnimatedcontainerShade</string>
	<key>groupBridgeAlignment</key>
	<string>checkboxProcessSize</string>
	<key>pinchableBehaviorFlags</key>
	<string>backwardModelOffset</string>
	<key>plateIncludePlatform</key>
	<string>controllerThroughShape</string>
	<key>touchShapeOffset</key>
	<string>channelDuringProcess</string>
</dict>
</plist>
