<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationVisitorVisibility</key>
	<string>viewSystemOffset</string>
	<key>disabledSampleOrigin</key>
	<string>constraintParameterFrequency</string>
	<key>explicitFrameHead</key>
	<string>multiLoopStyle</string>
	<key>intensityTempleDistance</key>
	<string>binaryWorkCoord</string>
	<key>paddingInForm</key>
	<string>directlyResponseOrientation</string>
	<key>sinkUntilBridge</key>
	<string>statefulAmongPattern</string>
	<key>storyboardStrategyInterval</key>
	<string>gradientStagePadding</string>
	<key>tableDespiteVar</key>
	<string>pivotalInteractorMomentum</string>
</dict>
</plist>
