<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interactorOutsideFunction</key>
	<string>elasticSpriteInset</string>
	<key>offsetAroundNumber</key>
	<string>immediateCapacitiesSpacing</string>
	<key>presenterLayerFeedback</key>
	<string>requiredCanvasState</string>
	<key>resultVisitorInterval</key>
	<string>currentViewMomentum</string>
	<key>subpixelWorkDirection</key>
	<string>hardPromisePressure</string>
	<key>visibleControllerHue</key>
	<string>displayableDrawerEdge</string>
</dict>
</plist>
