<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateUsecaseTail</key>
	<string>missedSkirtInset</string>
	<key>desktopCertificateBehavior</key>
	<string>fixedResourceAcceleration</string>
	<key>directlyAnimationDepth</key>
	<string>intermediateCellForce</string>
	<key>equipmentProcessCount</key>
	<string>repositoryPerPrototype</string>
	<key>interactorCommandType</key>
	<string>activeRowStyle</string>
	<key>navigatorEnvironmentStyle</key>
	<string>basicLoopKind</string>
	<key>typicalUnaryColor</key>
	<string>toolByOperation</string>
</dict>
</plist>
