<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureStructureDelay</key>
	<string>serviceIncludeKind</string>
	<key>mobileMediaqueryState</key>
	<string>functionalSessionBottom</string>
	<key>musicOutsideInterpreter</key>
	<string>viewExceptPattern</string>
	<key>relationalIndicatorBound</key>
	<string>imperativeTechniqueMode</string>
	<key>scrollScopeRight</key>
	<string>graphAlongBuffer</string>
</dict>
</plist>
