<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nextLayerShade</key>
	<string>streamMementoOrientation</string>
	<key>offsetAndProxy</key>
	<string>requestIncludeProxy</string>
	<key>primaryStreamIndex</key>
	<string>currentClipperDensity</string>
	<key>publicBinaryKind</key>
	<string>operationActionTransparency</string>
	<key>reductionForJob</key>
	<string>remainderAndMediator</string>
	<key>smartDimensionDuration</key>
	<string>geometricPresenterMode</string>
</dict>
</plist>
