<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileDurationVisibility</key>
	<string>dependencyPhaseEdge</string>
	<key>publicPaddingSaturation</key>
	<string>accessoryAroundProcess</string>
	<key>radiusScopeSize</key>
	<string>typicalCubitStyle</string>
	<key>taskNumberState</key>
	<string>exceptionJobSpacing</string>
	<key>temporaryExpandedFrequency</key>
	<string>storageMethodOpacity</string>
	<key>transitionCompositePressure</key>
	<string>callbackOrForm</string>
	<key>unactivatedProfileFormat</key>
	<string>signatureExceptActivity</string>
</dict>
</plist>
