<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationLayerTension</key>
	<string>sophisticatedCacheTail</string>
	<key>positionParameterTint</key>
	<string>columnAgainstKind</string>
	<key>semanticStoreInset</key>
	<string>equipmentContainStage</string>
</dict>
</plist>
