<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonCycleSaturation</key>
	<string>reusableExceptionContrast</string>
	<key>compositionalCompleterTail</key>
	<string>checklistActionPressure</string>
	<key>durationInsideFlyweight</key>
	<string>constraintCommandSkewx</string>
	<key>injectionProcessRight</key>
	<string>sizedboxAndParameter</string>
	<key>notificationBufferColor</key>
	<string>threadTempleSpeed</string>
	<key>particleContainState</key>
	<string>reusableTextureTail</string>
	<key>secondSemanticsFlags</key>
	<string>modalParamDirection</string>
	<key>subsequentSineSkewy</key>
	<string>mediumStatefulRotation</string>
</dict>
</plist>
