<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorJobDuration</key>
	<string>statefulCaptionTag</string>
	<key>cosinePerKind</key>
	<string>curvePlatformOrigin</string>
	<key>fixedGestureHead</key>
	<string>iconJobHue</string>
	<key>resolverObserverFlags</key>
	<string>notifierInsideOperation</string>
	<key>spriteTempleBrightness</key>
	<string>animationOrTemple</string>
	<key>textViaForm</key>
	<string>semanticAlphaSkewy</string>
	<key>titleNearOperation</key>
	<string>synchronousUtilVisible</string>
</dict>
</plist>
