<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>injectionLikeCycle</key>
	<string>unactivatedCompleterHead</string>
	<key>lastNavigatorCoord</key>
	<string>appbarAndNumber</string>
	<key>reducerAmongSingleton</key>
	<string>chartViaPattern</string>
	<key>signatureVersusMethod</key>
	<string>numericalRouteStatus</string>
	<key>significantRadioBound</key>
	<string>primaryDescriptorVelocity</string>
	<key>subscriptionLayerDepth</key>
	<string>directlySamplePosition</string>
	<key>synchronousRouterSize</key>
	<string>toolWorkCount</string>
	<key>titleAgainstScope</key>
	<string>commandDecoratorIndex</string>
</dict>
</plist>
