<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCupertinoMode</key>
	<string>grainOfFacade</string>
	<key>hashThanFlyweight</key>
	<string>crucialNibVisible</string>
	<key>movementExceptInterpreter</key>
	<string>observerVisitorState</string>
	<key>workflowPrototypeDistance</key>
	<string>inactiveAlignmentScale</string>
</dict>
</plist>
