<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionAlongWork</key>
	<string>switchOutsideProxy</string>
	<key>constSkirtRate</key>
	<string>fusedEffectDelay</string>
	<key>coordinatorAndTier</key>
	<string>significantProgressbarSkewy</string>
	<key>labelMediatorTag</key>
	<string>completionAdapterBound</string>
	<key>painterPerVar</key>
	<string>statelessMementoAcceleration</string>
	<key>tableOfStrategy</key>
	<string>symmetricMetadataDuration</string>
</dict>
</plist>
