<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxPrototypeMargin</key>
	<string>durationMethodTheme</string>
	<key>commonContainerStyle</key>
	<string>transformerVariableTension</string>
	<key>popupAdapterHue</key>
	<string>sliderFacadeSpacing</string>
	<key>positionedAsForm</key>
	<string>grayscaleSinceTemple</string>
	<key>utilNumberOrientation</key>
	<string>ignoredUtilCount</string>
	<key>viewVersusProcess</key>
	<string>cupertinoBlocMomentum</string>
</dict>
</plist>
