<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicLossSaturation</key>
	<string>activatedEffectCount</string>
	<key>channelBesideFlyweight</key>
	<string>associatedSegueShade</string>
	<key>constraintTypeSize</key>
	<string>modalCompositeInterval</string>
	<key>coordinatorAboutBridge</key>
	<string>checkboxLikeLevel</string>
	<key>cycleFlyweightIndex</key>
	<string>smartGiftFrequency</string>
	<key>mainTransformerDelay</key>
	<string>independentUtilDistance</string>
	<key>previewFromLevel</key>
	<string>sensorOutsideVariable</string>
	<key>remainderAsValue</key>
	<string>operationAlongComposite</string>
	<key>stateAlongTask</key>
	<string>routeFacadeAlignment</string>
	<key>stateViaStage</key>
	<string>serviceDuringOperation</string>
</dict>
</plist>
