<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sliderJobTheme</key>
	<string>newestCheckboxResponse</string>
	<key>spriteLevelShape</key>
	<string>layerInFlyweight</string>
	<key>uniformMetadataTheme</key>
	<string>inkwellDespiteType</string>
	<key>vectorShapeRight</key>
	<string>cacheProcessBrightness</string>
</dict>
</plist>
