<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardProviderTint</key>
	<string>sortedMissionState</string>
	<key>baselineMementoBottom</key>
	<string>descriptionOfForm</string>
	<key>clipperNearAdapter</key>
	<string>composableIntegerKind</string>
	<key>decorationUntilTemple</key>
	<string>compositionalSwiftLocation</string>
	<key>diffableResponseSaturation</key>
	<string>resizableProgressbarStatus</string>
	<key>frameStyleShape</key>
	<string>specifierAdapterPressure</string>
	<key>gramContainVisitor</key>
	<string>gridAboutShape</string>
	<key>histogramChainVelocity</key>
	<string>layerAsProcess</string>
	<key>radiusIncludeStyle</key>
	<string>asyncPatternSkewx</string>
</dict>
</plist>
