<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyTempleShape</key>
	<string>concreteOffsetStatus</string>
	<key>exceptionMediatorSkewx</key>
	<string>protectedStreamInterval</string>
	<key>logarithmScopeDensity</key>
	<string>parallelLayoutDirection</string>
	<key>mobxModePressure</key>
	<string>transformerThroughPlatform</string>
	<key>otherStateDirection</key>
	<string>rowIncludeEnvironment</string>
	<key>overlayStateSize</key>
	<string>interactorCycleColor</string>
</dict>
</plist>
