<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityInsideActivity</key>
	<string>blocUntilAction</string>
	<key>materialLayerRotation</key>
	<string>resourceFromOperation</string>
	<key>queryCompositeContrast</key>
	<string>collectionShapeBehavior</string>
	<key>respectiveFutureOrigin</key>
	<string>directIntensityName</string>
	<key>responseParameterSkewy</key>
	<string>semanticActionState</string>
</dict>
</plist>
