<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferPhaseTension</key>
	<string>notifierChainLocation</string>
	<key>difficultContainerSkewy</key>
	<string>activeDescriptionState</string>
	<key>equipmentStructureBound</key>
	<string>normalFeatureTail</string>
	<key>spineAgainstSingleton</key>
	<string>menuVisitorInset</string>
	<key>subsequentProviderFormat</key>
	<string>effectProxyBottom</string>
</dict>
</plist>
