<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityNearLevel</key>
	<string>compositionTaskPosition</string>
	<key>asynchronousNodeShade</key>
	<string>textureLikeStyle</string>
	<key>catalystInVar</key>
	<string>routerShapeCoord</string>
	<key>listenerCycleTheme</key>
	<string>widgetPerCycle</string>
	<key>staticEquipmentMomentum</key>
	<string>temporaryWidgetForce</string>
	<key>streamAndValue</key>
	<string>expandedMethodInset</string>
	<key>workflowVersusStructure</key>
	<string>containerKindScale</string>
</dict>
</plist>
