<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTimerInset</key>
	<string>symmetricControllerTint</string>
	<key>appbarFlyweightType</key>
	<string>reusableAnimationEdge</string>
	<key>drawerEnvironmentBrightness</key>
	<string>switchWithoutInterpreter</string>
	<key>grainChainOffset</key>
	<string>progressbarCycleShape</string>
	<key>instructionVisitorFrequency</key>
	<string>screenDespiteMethod</string>
</dict>
</plist>
