<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerThanShape</key>
	<string>keyFrameRate</string>
	<key>denseObserverCoord</key>
	<string>imperativeSymbolForce</string>
	<key>durationBesideProcess</key>
	<string>gateCommandFeedback</string>
	<key>gateSinceStage</key>
	<string>metadataChainSpacing</string>
	<key>resilientRouteDelay</key>
	<string>explicitRequestOrientation</string>
</dict>
</plist>
