<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iterativeFeatureVisible</key>
	<string>entropyExceptJob</string>
	<key>lossAmongWork</key>
	<string>particleUntilState</string>
	<key>missionStateBrightness</key>
	<string>disparateBoxshadowHead</string>
	<key>scaleEnvironmentState</key>
	<string>missionStyleCount</string>
	<key>secondGrainForce</key>
	<string>equipmentShapeHue</string>
	<key>widgetAsTier</key>
	<string>oldGridPadding</string>
</dict>
</plist>
