<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonStyleSpacing</key>
	<string>resilientContainerEdge</string>
	<key>effectNearValue</key>
	<string>titleOfFacade</string>
	<key>interpolationAwayPlatform</key>
	<string>nodeInAdapter</string>
	<key>sampleTypeType</key>
	<string>specifierAdapterBottom</string>
	<key>serviceCompositeMomentum</key>
	<string>labelFromOperation</string>
	<key>streamPhaseDepth</key>
	<string>chartAdapterPadding</string>
</dict>
</plist>
