<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationPerStrategy</key>
	<string>priorityContextFlags</string>
	<key>dropdownbuttonValueTension</key>
	<string>associatedInterfacePadding</string>
	<key>layoutAsLevel</key>
	<string>handlerMementoSpeed</string>
	<key>managerVersusForm</key>
	<string>binaryValueAcceleration</string>
	<key>navigationOrPrototype</key>
	<string>dedicatedSizedboxTransparency</string>
	<key>particleJobBehavior</key>
	<string>taskAlongParameter</string>
	<key>textureBySingleton</key>
	<string>heapShapeMomentum</string>
	<key>unsortedWidgetValidation</key>
	<string>getxTaskDirection</string>
</dict>
</plist>
