<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iterativeSampleTension</key>
	<string>segmentTypeCoord</string>
	<key>mainCompleterRight</key>
	<string>delegatePrototypeStyle</string>
	<key>resilientIndicatorMomentum</key>
	<string>sineFromTier</string>
	<key>sceneWithoutVariable</key>
	<string>normalBlocStatus</string>
	<key>sliderShapeContrast</key>
	<string>routerTierCount</string>
	<key>spotBridgeTag</key>
	<string>fixedPrecisionType</string>
	<key>textFlyweightContrast</key>
	<string>pointAwayBuffer</string>
	<key>usedChapterSize</key>
	<string>vectorCompositeTail</string>
</dict>
</plist>
