<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowStructureRate</key>
	<string>substantialPresenterBrightness</string>
	<key>chartCommandInterval</key>
	<string>sampleAdapterContrast</string>
	<key>concreteCoordinatorMargin</key>
	<string>storageParameterDelay</string>
	<key>consumerLevelBrightness</key>
	<string>canvasFrameworkMargin</string>
	<key>customizedOffsetLeft</key>
	<string>errorJobInteraction</string>
	<key>materialFutureOffset</key>
	<string>capsuleBeyondFlyweight</string>
	<key>notifierInContext</key>
	<string>cupertinoTransitionScale</string>
	<key>particleCycleBottom</key>
	<string>futureBridgeState</string>
	<key>topicFromForm</key>
	<string>typicalConstraintSpacing</string>
	<key>tweenPlatformShape</key>
	<string>crucialHeapHead</string>
</dict>
</plist>
