<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedRadiusSpacing</key>
	<string>sineChainPadding</string>
	<key>baselineStageSkewy</key>
	<string>awaitByJob</string>
	<key>comprehensiveWidgetBorder</key>
	<string>playbackValueRotation</string>
	<key>delicatePopupDuration</key>
	<string>routeLayerInterval</string>
	<key>monsterOfBuffer</key>
	<string>asyncContainOperation</string>
</dict>
</plist>
