<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderInsidePattern</key>
	<string>awaitThroughFramework</string>
	<key>delicateFactoryCount</key>
	<string>characterContainKind</string>
	<key>durationBeyondActivity</key>
	<string>subscriptionStyleOpacity</string>
	<key>fixedTabbarStyle</key>
	<string>customizedDecorationTheme</string>
	<key>handlerByNumber</key>
	<string>layerActionLeft</string>
	<key>integerScopeTop</key>
	<string>chartAlongInterpreter</string>
	<key>originalToolSize</key>
	<string>consumerPerProcess</string>
	<key>pinchableAwaitRight</key>
	<string>smallServiceAlignment</string>
	<key>sizeBeyondFramework</key>
	<string>publicDependencyName</string>
</dict>
</plist>
