<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateDespiteStructure</key>
	<string>accessibleFeatureAcceleration</string>
	<key>draggableConfigurationTail</key>
	<string>topicOfMediator</string>
	<key>gesturedetectorInsideKind</key>
	<string>lazySinkInterval</string>
	<key>instructionObserverInterval</key>
	<string>robustSpotCenter</string>
	<key>particleNumberContrast</key>
	<string>resourceLikeStrategy</string>
	<key>publicRiverpodSkewx</key>
	<string>vectorBridgeDelay</string>
</dict>
</plist>
