<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarFacadeIndex</key>
	<string>iterativeServiceBehavior</string>
	<key>brushBesideStage</key>
	<string>compositionShapeSaturation</string>
	<key>delegateStructureSkewy</key>
	<string>pinchableTransformerTail</string>
	<key>diversifiedCallbackType</key>
	<string>consultativeNotificationFlags</string>
	<key>dynamicGridviewSpeed</key>
	<string>rectDecoratorSaturation</string>
	<key>featureAdapterDuration</key>
	<string>interactorMediatorDepth</string>
	<key>modelVersusMode</key>
	<string>mediaqueryInTask</string>
	<key>specifyBitrateOrigin</key>
	<string>spriteOfStage</string>
	<key>symmetricMatrixPosition</key>
	<string>durationStateStyle</string>
	<key>widgetAtNumber</key>
	<string>stackFacadeShape</string>
</dict>
</plist>
