<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicInterpreterInterval</key>
	<string>navigatorModeShape</string>
	<key>oldOffsetTension</key>
	<string>sineMementoVelocity</string>
	<key>sliderContainStage</key>
	<string>aspectAboutStyle</string>
	<key>unactivatedDocumentInset</key>
	<string>sensorInterpreterVisible</string>
</dict>
</plist>
