<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonThanValue</key>
	<string>topicCompositeVelocity</string>
	<key>directlyQueueMomentum</key>
	<string>optionPrototypeIndex</string>
	<key>diversifiedBoxBound</key>
	<string>standaloneViewPressure</string>
	<key>featureNearScope</key>
	<string>characterProcessOrigin</string>
	<key>greatTopicFormat</key>
	<string>prevConvolutionContrast</string>
	<key>keyCertificateMargin</key>
	<string>declarativeAccessoryPadding</string>
	<key>lostProjectState</key>
	<string>normalMethodType</string>
	<key>queryOrStyle</key>
	<string>effectContextBottom</string>
	<key>swiftFlyweightInteraction</key>
	<string>animatedChartDensity</string>
</dict>
</plist>
