<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushStageAcceleration</key>
	<string>gradientDespiteStructure</string>
	<key>bulletBufferTheme</key>
	<string>secondExtensionTail</string>
	<key>controllerAdapterTension</key>
	<string>routeFromOperation</string>
	<key>promiseOrFunction</key>
	<string>sharedDurationTop</string>
</dict>
</plist>
