<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionIsolateOffset</key>
	<string>inactiveCompleterTail</string>
	<key>coordinatorVariableShade</key>
	<string>prevButtonName</string>
	<key>dedicatedTitleName</key>
	<string>composableCallbackTension</string>
	<key>descriptionOrInterpreter</key>
	<string>effectAsStrategy</string>
	<key>ignoredFactoryInteraction</key>
	<string>rowCycleFrequency</string>
	<key>layoutNearContext</key>
	<string>groupLikeOperation</string>
	<key>lazyPrecisionInterval</key>
	<string>dimensionMethodInteraction</string>
	<key>radioSincePlatform</key>
	<string>immediateProtocolType</string>
	<key>similarDescriptionVisible</key>
	<string>movementThroughFramework</string>
	<key>switchIncludeVar</key>
	<string>composableRectType</string>
</dict>
</plist>
