<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imperativeInjectionOpacity</key>
	<string>tweenAlongWork</string>
	<key>integerParameterFrequency</key>
	<string>priorityObserverTint</string>
	<key>routerIncludeMediator</key>
	<string>animationUntilStructure</string>
	<key>textOrPhase</key>
	<string>labelValueAppearance</string>
	<key>typicalFeatureVelocity</key>
	<string>modalObserverInteraction</string>
	<key>usecaseMediatorBehavior</key>
	<string>effectTaskOffset</string>
</dict>
</plist>
