<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerByPrototype</key>
	<string>difficultStampCenter</string>
	<key>euclideanListenerLeft</key>
	<string>delicateBinaryVisibility</string>
	<key>featureFunctionInteraction</key>
	<string>resourceSinceTier</string>
	<key>lastStoryboardIndex</key>
	<string>routeThroughProxy</string>
	<key>menuInsideTemple</key>
	<string>tickerFacadeDensity</string>
</dict>
</plist>
