<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoDialogsDuration</key>
	<string>typicalObserverTint</string>
	<key>menuDuringScope</key>
	<string>grainLikePlatform</string>
	<key>modelAsStrategy</key>
	<string>cubitModeCoord</string>
	<key>nibAndMode</key>
	<string>otherRadioShade</string>
	<key>providerOrVariable</key>
	<string>workflowWithParam</string>
	<key>resolverAtContext</key>
	<string>spotAmongChain</string>
	<key>resultInsideJob</key>
	<string>alignmentKindState</string>
	<key>serviceVersusVariable</key>
	<string>textfieldFrameworkVisible</string>
	<key>sizedboxStageOrientation</key>
	<string>nodeInMemento</string>
	<key>subpixelDespiteChain</key>
	<string>disabledAspectratioVelocity</string>
</dict>
</plist>
