<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartPrototypeBorder</key>
	<string>captionInsideFunction</string>
	<key>dimensionTaskVelocity</key>
	<string>comprehensiveMethodShade</string>
	<key>finalSingletonDepth</key>
	<string>concreteSizeFeedback</string>
	<key>masterBufferOffset</key>
	<string>layerParameterVisible</string>
	<key>permissiveVariantSpacing</key>
	<string>skirtBufferColor</string>
	<key>popupSinceType</key>
	<string>decorationPerType</string>
	<key>previewPerSingleton</key>
	<string>chapterStructureDepth</string>
	<key>reducerAmongWork</key>
	<string>storeInsideDecorator</string>
	<key>tensorObserverAcceleration</key>
	<string>descriptionMethodLocation</string>
</dict>
</plist>
