<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryScopeStyle</key>
	<string>consultativeUnaryVisibility</string>
	<key>configurationDespiteProxy</key>
	<string>compositionThanPattern</string>
	<key>euclideanCommandTheme</key>
	<string>subsequentProgressbarDensity</string>
	<key>fusedUsecaseTop</key>
	<string>presenterModeType</string>
	<key>significantConfigurationType</key>
	<string>unaryOfProxy</string>
	<key>symbolVisitorDepth</key>
	<string>rapidSpineIndex</string>
</dict>
</plist>
