<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>priorityVisitorDelay</key>
	<string>canvasThanPhase</string>
	<key>progressbarParamCenter</key>
	<string>popupProxyResponse</string>
	<key>vectorVariableColor</key>
	<string>batchStrategyPressure</string>
	<key>widgetIncludeProxy</key>
	<string>mediaParamStatus</string>
</dict>
</plist>
