<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateMediatorTop</key>
	<string>tickerObserverOffset</string>
	<key>disparateRiverpodInterval</key>
	<string>autoPreviewTag</string>
	<key>eventVariableDelay</key>
	<string>matrixWithoutMemento</string>
	<key>factoryShapeCoord</key>
	<string>specifierDecoratorName</string>
	<key>frameModeFlags</key>
	<string>uniqueRowVisible</string>
	<key>hyperbolicServiceShade</key>
	<string>displayableButtonPadding</string>
	<key>originalControllerVisibility</key>
	<string>advancedDialogsCoord</string>
	<key>positionAboutContext</key>
	<string>profileTierShape</string>
	<key>titleTaskTop</key>
	<string>boxshadowInterpreterFormat</string>
</dict>
</plist>
