<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorOperationDistance</key>
	<string>robustManagerShade</string>
	<key>completerThroughTask</key>
	<string>basicRouteDistance</string>
	<key>disabledRouteContrast</key>
	<string>topicOfFacade</string>
	<key>entropySingletonRotation</key>
	<string>monsterStructureRotation</string>
	<key>nextToolTop</key>
	<string>numericalZoneSkewy</string>
</dict>
</plist>
