<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionBuilderHead</key>
	<string>concreteResolverInterval</string>
	<key>alignmentTaskKind</key>
	<string>symbolOutsideVisitor</string>
	<key>builderParamLeft</key>
	<string>notificationNumberHead</string>
	<key>finalConfigurationOpacity</key>
	<string>cardDuringAdapter</string>
	<key>kernelBufferEdge</key>
	<string>convolutionFacadeSaturation</string>
	<key>largeRectMode</key>
	<string>controllerLevelRight</string>
	<key>nativeReducerMode</key>
	<string>mobxAndOperation</string>
	<key>presenterAgainstAction</key>
	<string>histogramStyleFlags</string>
	<key>semanticMetadataSpacing</key>
	<string>explicitViewKind</string>
</dict>
</plist>
