<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparateKernelCoord</key>
	<string>localSkinRotation</string>
	<key>eagerResolverKind</key>
	<string>featureContainInterpreter</string>
	<key>masterInObserver</key>
	<string>equalizationVarSpacing</string>
	<key>statefulDecorationInteraction</key>
	<string>substantialOptimizerOrientation</string>
	<key>visibleModulusShape</key>
	<string>kernelContextPressure</string>
</dict>
</plist>
