<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletPerLayer</key>
	<string>chapterStateTop</string>
	<key>comprehensiveServiceSkewx</key>
	<string>listviewInterpreterTag</string>
	<key>coordinatorObserverDepth</key>
	<string>standaloneCollectionOpacity</string>
	<key>criticalErrorTransparency</key>
	<string>concurrentGateBound</string>
	<key>firstManagerBehavior</key>
	<string>pointThroughProcess</string>
	<key>positionWithoutType</key>
	<string>iterativeTransitionDepth</string>
	<key>symmetricZoneCenter</key>
	<string>vectorForValue</string>
	<key>tappableTransformerStatus</key>
	<string>utilOperationOrigin</string>
	<key>uniqueStreamHue</key>
	<string>nibValueMomentum</string>
</dict>
</plist>
