<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveBeyondFunction</key>
	<string>vectorOperationRotation</string>
	<key>desktopDelegateSpacing</key>
	<string>routeStrategyPadding</string>
	<key>hardTextureBottom</key>
	<string>futureSinceSingleton</string>
	<key>materialOfStructure</key>
	<string>delegateBeyondObserver</string>
	<key>scrollViaFunction</key>
	<string>captionVariableRight</string>
</dict>
</plist>
