<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionOfShape</key>
	<string>nodeOperationFeedback</string>
	<key>animationEnvironmentScale</key>
	<string>sophisticatedOptionContrast</string>
	<key>featureValueAcceleration</key>
	<string>canvasParameterFlags</string>
	<key>gesturedetectorTaskSpacing</key>
	<string>menuJobAlignment</string>
	<key>injectionPlatformSpeed</key>
	<string>curveCompositeName</string>
	<key>liteCellMode</key>
	<string>grainByStructure</string>
	<key>prevIsolateKind</key>
	<string>cosineThanCycle</string>
</dict>
</plist>
