<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackLevelBorder</key>
	<string>localizationBridgeOffset</string>
	<key>desktopUnaryScale</key>
	<string>inkwellLayerTheme</string>
	<key>grainSinceProxy</key>
	<string>tabviewAlongType</string>
	<key>multiDecorationMomentum</key>
	<string>semanticsNearLayer</string>
	<key>profileByMediator</key>
	<string>entropyParamOrientation</string>
	<key>retainedSpotName</key>
	<string>nextCoordinatorColor</string>
</dict>
</plist>
