<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferThanObserver</key>
	<string>typicalObserverStatus</string>
	<key>compositionalTaskState</key>
	<string>comprehensiveRichtextDirection</string>
	<key>errorCommandForce</key>
	<string>sizeTierForce</string>
	<key>firstRouterName</key>
	<string>exceptionTempleEdge</string>
	<key>inactiveSliderIndex</key>
	<string>localizationLikeLayer</string>
	<key>kernelContextRight</key>
	<string>arithmeticMobxOpacity</string>
	<key>kernelStyleAcceleration</key>
	<string>extensionByState</string>
</dict>
</plist>
