<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteIconVisible</key>
	<string>retainedBrushFeedback</string>
	<key>coordinatorStateLeft</key>
	<string>monsterParameterAcceleration</string>
	<key>delicatePromiseOrientation</key>
	<string>vectorPlatformDirection</string>
	<key>managerPerSystem</key>
	<string>interpolationKindOrigin</string>
	<key>oldCollectionCenter</key>
	<string>controllerBeyondForm</string>
	<key>optionAtBuffer</key>
	<string>consumerVariableRotation</string>
	<key>resizableTaskKind</key>
	<string>mobxCompositeVisibility</string>
</dict>
</plist>
