<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioFromWork</key>
	<string>localizationAdapterVisible</string>
	<key>eventStageOpacity</key>
	<string>agileBuilderLocation</string>
	<key>extensionTaskTint</key>
	<string>momentumAndSystem</string>
	<key>flexibleAwaitShape</key>
	<string>allocatorVersusMemento</string>
	<key>labelUntilVisitor</key>
	<string>sceneBeyondLevel</string>
	<key>localCallbackTransparency</key>
	<string>pageviewContainDecorator</string>
	<key>subsequentConstraintTail</key>
	<string>requestScopeAlignment</string>
	<key>swiftAsActivity</key>
	<string>liteBufferState</string>
	<key>uniformStreamDistance</key>
	<string>consumerNumberMode</string>
</dict>
</plist>
