<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticJobDirection</key>
	<string>metadataBesideTask</string>
	<key>drawerInsideCommand</key>
	<string>metadataChainValidation</string>
	<key>menuThanLevel</key>
	<string>textfieldProxyPressure</string>
	<key>spineAroundStage</key>
	<string>rowAwayTask</string>
	<key>spotDespiteBuffer</key>
	<string>kernelCompositeState</string>
</dict>
</plist>
