<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperInAction</key>
	<string>diversifiedBlocScale</string>
	<key>concretePetType</key>
	<string>stampViaStrategy</string>
	<key>cubitPrototypeBound</key>
	<string>reactiveFeatureDistance</string>
	<key>cycleBridgeStyle</key>
	<string>priorityStateTop</string>
	<key>diversifiedEqualizationBorder</key>
	<string>grayscaleAtActivity</string>
	<key>numericalAnimationDepth</key>
	<string>managerValueDensity</string>
	<key>reactiveContainerSize</key>
	<string>resourceNumberVisible</string>
	<key>responseSystemForce</key>
	<string>curveAndPattern</string>
</dict>
</plist>
