<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveDurationType</key>
	<string>greatAlignmentType</string>
	<key>completionThanDecorator</key>
	<string>mutableSliderShade</string>
	<key>heroProxyType</key>
	<string>mutableCosineCount</string>
	<key>hierarchicalBoxshadowStyle</key>
	<string>threadViaProcess</string>
	<key>otherPlateColor</key>
	<string>masterProxySkewx</string>
	<key>reducerWithLevel</key>
	<string>typicalExpandedName</string>
	<key>screenStatePressure</key>
	<string>paddingWithTemple</string>
	<key>shaderBufferPosition</key>
	<string>pinchableBinaryCount</string>
	<key>tableInStyle</key>
	<string>challengeViaStructure</string>
	<key>vectorBesideProcess</key>
	<string>menuChainAcceleration</string>
</dict>
</plist>
