<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleQueryDistance</key>
	<string>factoryAtOperation</string>
	<key>blocFrameworkKind</key>
	<string>channelAsAdapter</string>
	<key>delicateLogSkewx</key>
	<string>gridVarCenter</string>
	<key>instructionActionShade</key>
	<string>customSemanticsHue</string>
	<key>labelWithoutPhase</key>
	<string>asyncPresenterContrast</string>
	<key>optimizerWithoutParam</key>
	<string>paddingTaskMomentum</string>
</dict>
</plist>
