<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderWithoutContext</key>
	<string>cardOperationHue</string>
	<key>constModalHead</key>
	<string>chapterVersusValue</string>
	<key>graphicAtCycle</key>
	<string>plateAlongStyle</string>
	<key>labelViaBridge</key>
	<string>equalizationNearSystem</string>
	<key>persistentTransitionHue</key>
	<string>pinchableIntensityBehavior</string>
	<key>pointOperationVisible</key>
	<string>singleTitleRight</string>
	<key>presenterJobColor</key>
	<string>interactorPerVisitor</string>
	<key>routePhaseFormat</key>
	<string>routeStrategyAlignment</string>
	<key>threadMethodDirection</key>
	<string>vectorOrProxy</string>
	<key>utilThroughAdapter</key>
	<string>effectOrProcess</string>
</dict>
</plist>
