<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasByStyle</key>
	<string>geometricExtensionInterval</string>
	<key>elasticPetScale</key>
	<string>visibleIntensityKind</string>
	<key>graphFacadeResponse</key>
	<string>listenerCommandType</string>
	<key>resizableEntropyName</key>
	<string>resolverAgainstPattern</string>
	<key>sliderStructureForce</key>
	<string>animatedcontainerSingletonTop</string>
	<key>widgetAlongObserver</key>
	<string>priorityAsPrototype</string>
</dict>
</plist>
