<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAwayBuffer</key>
	<string>secondGrainDensity</string>
	<key>directlyCellAppearance</key>
	<string>numericalExponentSkewx</string>
	<key>mainServiceOrigin</key>
	<string>layerWorkVisible</string>
	<key>standaloneFutureKind</key>
	<string>uniformInterfaceDelay</string>
	<key>subsequentProjectCount</key>
	<string>synchronousExpandedVisibility</string>
	<key>subtleEntityShape</key>
	<string>customizedTextfieldTint</string>
</dict>
</plist>
