<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAmongAction</key>
	<string>asyncHandlerBrightness</string>
	<key>gemActionVisible</key>
	<string>interactiveMapPosition</string>
	<key>geometricHashFrequency</key>
	<string>routeNumberDirection</string>
	<key>geometricViewBorder</key>
	<string>normalLayoutOpacity</string>
	<key>immutableTechniqueDuration</key>
	<string>desktopLayerFlags</string>
	<key>isolateNearInterpreter</key>
	<string>coordinatorForVisitor</string>
	<key>normDecoratorEdge</key>
	<string>methodViaShape</string>
	<key>pageviewMediatorFrequency</key>
	<string>globalSpriteName</string>
	<key>precisionAroundParam</key>
	<string>globalScrollPadding</string>
	<key>rowForProxy</key>
	<string>rectFromParameter</string>
</dict>
</plist>
