<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticContainComposite</key>
	<string>rowIncludeActivity</string>
	<key>baselineViaValue</key>
	<string>gesturedetectorUntilCycle</string>
	<key>descriptionAdapterSpacing</key>
	<string>providerForOperation</string>
	<key>entityTempleColor</key>
	<string>completerInState</string>
	<key>modelDespiteDecorator</key>
	<string>usedPaddingMode</string>
	<key>reusableGramForce</key>
	<string>difficultProviderBound</string>
	<key>toolContextLocation</key>
	<string>richtextViaTemple</string>
</dict>
</plist>
