<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryBesidePlatform</key>
	<string>cartesianFlexMargin</string>
	<key>animationPlatformSpeed</key>
	<string>diversifiedSizeAlignment</string>
	<key>liteIntensityTint</key>
	<string>accessibleBehaviorSpeed</string>
	<key>progressbarTaskPadding</key>
	<string>asynchronousBoxAppearance</string>
	<key>providerCycleStatus</key>
	<string>gridVersusTier</string>
	<key>providerVersusPattern</key>
	<string>modalOperationPosition</string>
	<key>singletonOfObserver</key>
	<string>controllerPerOperation</string>
	<key>sliderExceptStyle</key>
	<string>controllerThroughDecorator</string>
	<key>switchViaFramework</key>
	<string>themeOutsideStructure</string>
	<key>synchronousNavigatorLeft</key>
	<string>screenFormMomentum</string>
</dict>
</plist>
