<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionLikePattern</key>
	<string>decorationLayerOrientation</string>
	<key>captionNearLevel</key>
	<string>dynamicTaskInset</string>
	<key>lossSinceParam</key>
	<string>blocInsideScope</string>
	<key>notifierSinceShape</key>
	<string>singletonAroundStructure</string>
	<key>permanentAlphaVisible</key>
	<string>subscriptionProcessFlags</string>
	<key>rectFacadeColor</key>
	<string>finalIntensityForce</string>
	<key>sineNearNumber</key>
	<string>consumerTaskInteraction</string>
	<key>themeFormContrast</key>
	<string>graphByInterpreter</string>
</dict>
</plist>
