<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaThanVar</key>
	<string>pivotalMethodVisible</string>
	<key>blocAsFlyweight</key>
	<string>profileAmongPlatform</string>
	<key>cursorSystemEdge</key>
	<string>logarithmStructureBorder</string>
	<key>descriptorAboutJob</key>
	<string>comprehensiveStampMargin</string>
	<key>gesturedetectorFlyweightShape</key>
	<string>tickerCycleType</string>
	<key>gridviewPlatformCenter</key>
	<string>materialVersusShape</string>
	<key>interpolationPrototypeState</key>
	<string>providerCommandSkewx</string>
	<key>marginViaSystem</key>
	<string>referenceMementoStatus</string>
	<key>materialThanShape</key>
	<string>iterativeSinkRate</string>
	<key>tappableBuilderMode</key>
	<string>protocolTierTop</string>
</dict>
</plist>
