<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateSingletonMomentum</key>
	<string>mediaObserverValidation</string>
	<key>queueActivityCenter</key>
	<string>hierarchicalObserverTint</string>
	<key>radiusAtMediator</key>
	<string>similarLayerOpacity</string>
</dict>
</plist>
