<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerTaskAppearance</key>
	<string>gemActionDirection</string>
	<key>checkboxExceptActivity</key>
	<string>resizableErrorFlags</string>
	<key>commonGridviewStyle</key>
	<string>inactiveSingletonTag</string>
	<key>customizedEntropyRate</key>
	<string>materialAnimationMargin</string>
	<key>declarativeCommandSaturation</key>
	<string>temporaryListviewVisible</string>
	<key>delegateAsNumber</key>
	<string>titleKindKind</string>
	<key>drawerPrototypeSpacing</key>
	<string>dialogsCompositeOffset</string>
	<key>kernelAwayActivity</key>
	<string>remainderOutsideContext</string>
</dict>
</plist>
