<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderMediatorAlignment</key>
	<string>relationalSignMode</string>
	<key>controllerSingletonTransparency</key>
	<string>actionTypeState</string>
	<key>disabledProjectBorder</key>
	<string>cosineLevelPosition</string>
	<key>eventVersusLevel</key>
	<string>seamlessKernelShape</string>
	<key>grainAroundChain</key>
	<string>globalSceneShade</string>
	<key>positionedBeyondAdapter</key>
	<string>blocMediatorTension</string>
	<key>presenterTierCoord</key>
	<string>roleFrameworkTheme</string>
	<key>rowCompositeLeft</key>
	<string>mediumOptimizerForce</string>
	<key>screenAlongTemple</key>
	<string>capacitiesStageMargin</string>
</dict>
</plist>
