<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedManagerOrigin</key>
	<string>desktopGridShade</string>
	<key>customizedAssetBrightness</key>
	<string>gridPhaseRotation</string>
	<key>extensionContainTask</key>
	<string>particleStageBorder</string>
	<key>localDurationTail</key>
	<string>graphPerState</string>
	<key>protectedTangentSkewx</key>
	<string>scaleLayerSpeed</string>
	<key>resultInterpreterBound</key>
	<string>composableListenerSize</string>
</dict>
</plist>
