<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionNearCommand</key>
	<string>popupWithoutPattern</string>
	<key>allocatorOrObserver</key>
	<string>tangentForVisitor</string>
	<key>builderTempleDuration</key>
	<string>resourceStructureLeft</string>
	<key>concreteListenerMargin</key>
	<string>chartObserverAppearance</string>
	<key>errorFacadeFeedback</key>
	<string>enabledConfigurationEdge</string>
	<key>finalAlphaDirection</key>
	<string>methodBufferIndex</string>
	<key>optimizerModeContrast</key>
	<string>gradientAlongType</string>
	<key>pageviewIncludeEnvironment</key>
	<string>imageMementoIndex</string>
	<key>rowSystemScale</key>
	<string>skirtUntilStructure</string>
	<key>sineWithoutActivity</key>
	<string>popupFunctionFeedback</string>
</dict>
</plist>
