<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterInsideInterpreter</key>
	<string>resizableSkinFrequency</string>
	<key>cycleBufferBehavior</key>
	<string>transformerOfFacade</string>
	<key>dynamicColumnVisible</key>
	<string>axisThanTier</string>
	<key>immediateAspectratioStyle</key>
	<string>usedTransitionBehavior</string>
	<key>lostAlignmentVisibility</key>
	<string>autoListenerPressure</string>
	<key>modulusSinceSingleton</key>
	<string>permissiveSingletonOffset</string>
	<key>normalTouchFormat</key>
	<string>animationPhaseInterval</string>
	<key>stackOutsideVisitor</key>
	<string>callbackBridgePressure</string>
	<key>ternaryParameterForce</key>
	<string>respectiveBulletHead</string>
	<key>unsortedPositionedForce</key>
	<string>scrollBufferKind</string>
</dict>
</plist>
