<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureByFramework</key>
	<string>constraintVersusState</string>
	<key>immediateDelegateMomentum</key>
	<string>switchEnvironmentPressure</string>
	<key>marginFormCoord</key>
	<string>constraintSingletonState</string>
	<key>skinDespiteFunction</key>
	<string>dedicatedGridMomentum</string>
	<key>spriteNumberAcceleration</key>
	<string>serviceWithStage</string>
</dict>
</plist>
