<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryValueValidation</key>
	<string>tweenProxyName</string>
	<key>configurationInParam</key>
	<string>baseOrLevel</string>
	<key>euclideanExponentAppearance</key>
	<string>priorProjectionSkewy</string>
	<key>expandedDecoratorVisible</key>
	<string>configurationOperationTint</string>
	<key>largeChallengeStyle</key>
	<string>presenterNearState</string>
	<key>nodeBesideContext</key>
	<string>techniqueSinceStructure</string>
	<key>screenSinceNumber</key>
	<string>challengeThanComposite</string>
	<key>semanticChannelRight</key>
	<string>callbackWithMethod</string>
	<key>vectorExceptProcess</key>
	<string>checkboxVarSkewy</string>
</dict>
</plist>
