<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getxActivityTag</key>
	<string>dedicatedStoragePressure</string>
	<key>gridSingletonLeft</key>
	<string>signatureVersusParameter</string>
	<key>standaloneFragmentTension</key>
	<string>uniformClipperSkewy</string>
	<key>timerAwayContext</key>
	<string>stateViaVariable</string>
</dict>
</plist>
