<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitFormDirection</key>
	<string>sineLayerForce</string>
	<key>currentProjectionSaturation</key>
	<string>arithmeticAmongDecorator</string>
	<key>singleSliderAppearance</key>
	<string>secondDialogsBrightness</string>
	<key>sortedModelFeedback</key>
	<string>deferredMaterialMomentum</string>
	<key>statelessStatelessDirection</key>
	<string>constraintAboutFunction</string>
</dict>
</plist>
