<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionServiceTail</key>
	<string>boxVarBound</string>
	<key>characterProcessPadding</key>
	<string>exponentStageMode</string>
	<key>disparateTopicSaturation</key>
	<string>sineBesideScope</string>
	<key>durationViaBridge</key>
	<string>viewFlyweightRight</string>
	<key>heapAmongCommand</key>
	<string>containerLikeFunction</string>
	<key>mediaqueryAroundForm</key>
	<string>otherTabviewLocation</string>
	<key>paddingLikeKind</key>
	<string>listviewAboutTask</string>
	<key>reducerPlatformOpacity</key>
	<string>advancedGetxDensity</string>
	<key>stepForVariable</key>
	<string>sliderThroughLevel</string>
	<key>transformerAlongTask</key>
	<string>resizableMethodContrast</string>
</dict>
</plist>
