<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectCompositeCenter</key>
	<string>localOperationContrast</string>
	<key>completerScopeInteraction</key>
	<string>previewAmongTier</string>
	<key>constraintAgainstContext</key>
	<string>persistentGiftTop</string>
	<key>radiusStateRate</key>
	<string>operationFromProxy</string>
	<key>remainderFormContrast</key>
	<string>autoTernaryDelay</string>
	<key>repositoryLevelVelocity</key>
	<string>gesturedetectorAboutObserver</string>
</dict>
</plist>
