<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationActionFormat</key>
	<string>interfaceFormInset</string>
	<key>disabledTitleSkewx</key>
	<string>coordinatorTierBound</string>
	<key>fragmentLikeDecorator</key>
	<string>containerAlongParameter</string>
	<key>grainMethodDirection</key>
	<string>semanticBitrateFlags</string>
	<key>ignoredModalDelay</key>
	<string>visibleTableSize</string>
	<key>imperativeBoxMomentum</key>
	<string>inkwellModeMomentum</string>
	<key>painterSinceMediator</key>
	<string>widgetAgainstForm</string>
	<key>projectionAndActivity</key>
	<string>tableStrategyTransparency</string>
	<key>titleContextEdge</key>
	<string>ignoredSpineType</string>
</dict>
</plist>
