<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSegueCenter</key>
	<string>resourceByActivity</string>
	<key>discardedEquipmentAppearance</key>
	<string>sinkCycleRate</string>
	<key>missedIconAppearance</key>
	<string>hardBufferSize</string>
	<key>missionViaMode</key>
	<string>hashContainWork</string>
	<key>numericalDialogsMode</key>
	<string>hyperbolicCubitAcceleration</string>
	<key>richtextBesideForm</key>
	<string>profileFrameworkDistance</string>
	<key>subtleHandlerPadding</key>
	<string>dependencyWithoutStyle</string>
	<key>taskWithoutPrototype</key>
	<string>columnStyleTop</string>
	<key>zoneThanPrototype</key>
	<string>commandBesideNumber</string>
</dict>
</plist>
