<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalRowCenter</key>
	<string>robustQueuePadding</string>
	<key>deferredEventCount</key>
	<string>consumerVariablePressure</string>
</dict>
</plist>
