<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsLayerFrequency</key>
	<string>sceneAmongProxy</string>
	<key>imperativeReducerPosition</key>
	<string>playbackFlyweightTop</string>
	<key>particleOfValue</key>
	<string>normAwayStrategy</string>
	<key>responseOutsideSingleton</key>
	<string>grainAgainstOperation</string>
	<key>subscriptionAsForm</key>
	<string>cupertinoTimerCenter</string>
	<key>themeAmongType</key>
	<string>repositoryProcessName</string>
	<key>viewInterpreterSaturation</key>
	<string>desktopRowTint</string>
</dict>
</plist>
