<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackOutsideTemple</key>
	<string>operationOrEnvironment</string>
	<key>cartesianFragmentStyle</key>
	<string>staticPreviewCenter</string>
	<key>descriptorFromPattern</key>
	<string>asyncBlocVelocity</string>
	<key>primaryCellIndex</key>
	<string>substantialChannelType</string>
	<key>semanticIsolateColor</key>
	<string>statefulInjectionPadding</string>
</dict>
</plist>
