<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentEnvironmentState</key>
	<string>intuitiveGraphBehavior</string>
	<key>commandAlongSingleton</key>
	<string>animatedSliderSize</string>
	<key>disabledModalSkewx</key>
	<string>containerAwayStructure</string>
	<key>graphFromMethod</key>
	<string>kernelStateVisibility</string>
	<key>greatStampInterval</key>
	<string>uniformListviewBottom</string>
	<key>routeDuringWork</key>
	<string>exceptionInsideStage</string>
	<key>sceneForMemento</key>
	<string>routerVisitorIndex</string>
	<key>sliderBesideInterpreter</key>
	<string>responseAboutMemento</string>
	<key>spineFunctionTint</key>
	<string>histogramForFunction</string>
	<key>standaloneMissionSkewx</key>
	<string>frameAlongStage</string>
</dict>
</plist>
