<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedAccessoryVisible</key>
	<string>entityLevelFormat</string>
	<key>bitrateBesideProxy</key>
	<string>resilientNavigatorTheme</string>
	<key>contractionDecoratorType</key>
	<string>concreteZoneStyle</string>
	<key>cursorDecoratorStyle</key>
	<string>extensionCycleState</string>
	<key>equalizationPrototypeBottom</key>
	<string>otherGridStyle</string>
	<key>graphAlongAction</key>
	<string>providerNumberInterval</string>
	<key>offsetParamFeedback</key>
	<string>spriteVariableMode</string>
	<key>pinchableRequestFeedback</key>
	<string>statelessIsolateStatus</string>
	<key>statelessOperationMargin</key>
	<string>equipmentWithoutParameter</string>
</dict>
</plist>
