<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderAndAdapter</key>
	<string>awaitKindTransparency</string>
	<key>groupAtStructure</key>
	<string>entropyDecoratorFlags</string>
	<key>reducerOperationCount</key>
	<string>queueMethodTag</string>
	<key>slashVersusPlatform</key>
	<string>globalCubitCount</string>
	<key>symmetricAnimationHue</key>
	<string>memberDespiteProxy</string>
	<key>tweenContextOrigin</key>
	<string>histogramActivityInterval</string>
	<key>utilFunctionMomentum</key>
	<string>sinkOfParam</string>
</dict>
</plist>
