<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedLoopMomentum</key>
	<string>sessionDuringProcess</string>
	<key>buttonShapeDirection</key>
	<string>loopOperationSkewx</string>
	<key>cachePhaseCount</key>
	<string>utilFrameworkHue</string>
	<key>compositionContainAdapter</key>
	<string>unactivatedPresenterFeedback</string>
	<key>gramCommandBottom</key>
	<string>resilientSizedboxSkewy</string>
	<key>interfaceSinceKind</key>
	<string>asynchronousQueryBound</string>
	<key>priorStoryboardName</key>
	<string>semanticDecorationCenter</string>
</dict>
</plist>
