<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocByTemple</key>
	<string>advancedAlignmentCoord</string>
	<key>explicitBehaviorResponse</key>
	<string>sustainableHeapAppearance</string>
	<key>menuStageRotation</key>
	<string>crudeRectEdge</string>
	<key>seamlessConfigurationVisible</key>
	<string>compositionalProviderDistance</string>
	<key>symbolAtFunction</key>
	<string>positionPatternBrightness</string>
</dict>
</plist>
