<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorStateTheme</key>
	<string>functionalMomentumEdge</string>
	<key>expandedAboutLayer</key>
	<string>significantBaselineCount</string>
	<key>optionForTemple</key>
	<string>greatCurveHue</string>
	<key>slashInsideLayer</key>
	<string>materialSkirtCoord</string>
	<key>sustainableFactorySkewx</key>
	<string>usecasePatternTransparency</string>
	<key>tangentOfMode</key>
	<string>isolateFlyweightColor</string>
	<key>transitionLikeProcess</key>
	<string>managerSystemInset</string>
</dict>
</plist>
