<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasAndMemento</key>
	<string>arithmeticTernarySaturation</string>
	<key>controllerParameterShape</key>
	<string>masterInsideTask</string>
	<key>interactorStageAppearance</key>
	<string>autoResourceBottom</string>
	<key>mediocrePainterVelocity</key>
	<string>scrollLevelOrigin</string>
	<key>scrollableLabelShade</key>
	<string>entityKindRight</string>
</dict>
</plist>
