<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerPlatformTint</key>
	<string>prismaticNavigatorPressure</string>
	<key>discardedConstraintSaturation</key>
	<string>mapWithValue</string>
	<key>layerPhaseAlignment</key>
	<string>multiplicationContextFormat</string>
	<key>optimizerFromDecorator</key>
	<string>projectionVisitorColor</string>
	<key>statefulDependencyBottom</key>
	<string>storeProcessColor</string>
</dict>
</plist>
