<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerContainCycle</key>
	<string>configurationPerFlyweight</string>
	<key>enabledCheckboxRight</key>
	<string>documentSingletonHead</string>
	<key>finalTaskLeft</key>
	<string>materialAsyncValidation</string>
	<key>geometricZoneDistance</key>
	<string>persistentTextureEdge</string>
	<key>interactorTempleVelocity</key>
	<string>grainOrCommand</string>
	<key>resolverForBridge</key>
	<string>chapterTierStatus</string>
	<key>storageNearValue</key>
	<string>imperativeTopicCenter</string>
	<key>storeVisitorValidation</key>
	<string>subtleTextFormat</string>
</dict>
</plist>
