<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationExceptVisitor</key>
	<string>capacitiesNearActivity</string>
	<key>controllerBeyondNumber</key>
	<string>resilientOptionType</string>
	<key>custompaintOrComposite</key>
	<string>indicatorPerLayer</string>
	<key>desktopIntegerForce</key>
	<string>inheritedProviderFlags</string>
	<key>desktopSliderSkewy</key>
	<string>streamShapeTransparency</string>
	<key>disabledMovementSkewx</key>
	<string>consultativeIsolateDepth</string>
	<key>previewVariableDistance</key>
	<string>exceptionAmongObserver</string>
	<key>subscriptionInterpreterTransparency</key>
	<string>custompaintFormSpacing</string>
	<key>viewThanChain</key>
	<string>intermediateCurveDensity</string>
</dict>
</plist>
