<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedCurveName</key>
	<string>providerLayerEdge</string>
	<key>inheritedLayoutState</key>
	<string>momentumDespiteVariable</string>
	<key>instructionPlatformTail</key>
	<string>painterProcessMode</string>
	<key>multiTransitionHue</key>
	<string>finalGemDistance</string>
	<key>observerJobVelocity</key>
	<string>brushKindKind</string>
	<key>paddingSystemDepth</key>
	<string>histogramBeyondMode</string>
	<key>roleExceptDecorator</key>
	<string>vectorLikeForm</string>
	<key>roleParamStatus</key>
	<string>reusableRectAcceleration</string>
	<key>taskUntilLevel</key>
	<string>stateDecoratorTheme</string>
</dict>
</plist>
