<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileNavigationScale</key>
	<string>sampleProxyVisible</string>
	<key>decorationPatternPadding</key>
	<string>marginAroundVar</string>
	<key>exponentExceptMemento</key>
	<string>concurrentProfileSpacing</string>
	<key>graphUntilEnvironment</key>
	<string>allocatorDecoratorDuration</string>
	<key>menuAwayProcess</key>
	<string>seamlessMonsterPosition</string>
	<key>workflowVariableSkewx</key>
	<string>hierarchicalSliderTop</string>
</dict>
</plist>
