<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleStreamContrast</key>
	<string>streamTierName</string>
	<key>actionInterpreterTop</key>
	<string>sinkFlyweightRotation</string>
	<key>actionLevelMomentum</key>
	<string>missedChannelFlags</string>
	<key>adaptiveConfigurationSkewx</key>
	<string>finalCoordinatorHue</string>
	<key>completionActivitySkewy</key>
	<string>composableNormOpacity</string>
	<key>difficultInterpolationContrast</key>
	<string>cubitPhaseBound</string>
	<key>ignoredImageColor</key>
	<string>statefulInsideFunction</string>
	<key>logCyclePressure</key>
	<string>resizableGraphDelay</string>
	<key>modulusBeyondLevel</key>
	<string>titleUntilScope</string>
	<key>retainedInjectionShade</key>
	<string>discardedCollectionStyle</string>
</dict>
</plist>
