<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAmongProcess</key>
	<string>labelTempleTag</string>
	<key>easyTaskVisibility</key>
	<string>particleStrategySaturation</string>
	<key>entityViaChain</key>
	<string>streamBesideKind</string>
	<key>menuViaFlyweight</key>
	<string>completerProxyInset</string>
	<key>modelAmongTemple</key>
	<string>rolePlatformSize</string>
	<key>opaqueGestureBottom</key>
	<string>retainedStoreTransparency</string>
	<key>storageOfMode</key>
	<string>controllerBufferKind</string>
	<key>textThroughVariable</key>
	<string>heapShapeDirection</string>
	<key>zoneAboutVariable</key>
	<string>cosineScopeInteraction</string>
</dict>
</plist>
