<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAndMode</key>
	<string>frameExceptTier</string>
	<key>chartThroughJob</key>
	<string>animatedCollectionType</string>
	<key>featureProcessDepth</key>
	<string>mediaPlatformName</string>
	<key>graphDecoratorType</key>
	<string>persistentTangentDirection</string>
	<key>interactorSincePrototype</key>
	<string>inkwellUntilWork</string>
	<key>parallelShaderShape</key>
	<string>diversifiedPageviewVelocity</string>
	<key>permissiveBuilderTag</key>
	<string>associatedLayerSkewx</string>
	<key>rowViaComposite</key>
	<string>blocPlatformFrequency</string>
	<key>zoneOfSingleton</key>
	<string>rectNumberSpacing</string>
</dict>
</plist>
