<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedAnimatedcontainerType</key>
	<string>immutableScaleDuration</string>
	<key>dynamicLoopSize</key>
	<string>statefulModelName</string>
	<key>grainContextBorder</key>
	<string>methodDespiteVar</string>
	<key>sizedboxContainFunction</key>
	<string>gemTempleDelay</string>
	<key>temporaryHandlerShade</key>
	<string>labelLevelTail</string>
	<key>tensorTaskStatus</key>
	<string>composableTransitionOpacity</string>
	<key>usageContainFlyweight</key>
	<string>denseModalMargin</string>
</dict>
</plist>
