<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeCollectionValidation</key>
	<string>interfaceUntilTier</string>
	<key>diffableGetxTag</key>
	<string>consumerCycleSkewx</string>
	<key>elasticSkinBorder</key>
	<string>particleAroundKind</string>
	<key>flexVariableBrightness</key>
	<string>singleProgressbarVisible</string>
	<key>iconAsMode</key>
	<string>pageviewViaAction</string>
</dict>
</plist>
