<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hashForVar</key>
	<string>aspectWorkInset</string>
	<key>loopNumberHue</key>
	<string>cycleFunctionBottom</string>
	<key>nodeVariableStatus</key>
	<string>primaryTransitionMode</string>
</dict>
</plist>
