<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAmongFramework</key>
	<string>isolateWorkDistance</string>
	<key>inkwellByVar</key>
	<string>consultativeCubitCount</string>
	<key>queryPerAction</key>
	<string>integerInsideValue</string>
	<key>widgetBeyondActivity</key>
	<string>queryPerPrototype</string>
</dict>
</plist>
