<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderAwayKind</key>
	<string>toolProcessVisible</string>
	<key>containerPlatformType</key>
	<string>immutableEqualizationAlignment</string>
	<key>gestureByVisitor</key>
	<string>tickerCycleBrightness</string>
	<key>painterPrototypeVelocity</key>
	<string>configurationValueTail</string>
	<key>resourceScopeSize</key>
	<string>sessionByJob</string>
	<key>secondAlignmentSpacing</key>
	<string>delegateFunctionSpacing</string>
	<key>sortedServiceTop</key>
	<string>resultStyleOrientation</string>
	<key>subscriptionLayerInset</key>
	<string>inkwellOperationDistance</string>
	<key>subscriptionProxyFlags</key>
	<string>listenerAtPhase</string>
	<key>widgetContainEnvironment</key>
	<string>secondGraphicSpeed</string>
</dict>
</plist>
