<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelThroughScope</key>
	<string>transformerViaWork</string>
	<key>mediaUntilFunction</key>
	<string>crucialLabelBrightness</string>
	<key>scrollDuringContext</key>
	<string>materialCubitFeedback</string>
	<key>textExceptMethod</key>
	<string>routeAmongAdapter</string>
	<key>textStructureTheme</key>
	<string>sceneFrameworkMomentum</string>
</dict>
</plist>
