<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentWidgetPosition</key>
	<string>descriptionTempleCenter</string>
	<key>enabledStampName</key>
	<string>spineFlyweightAcceleration</string>
	<key>handlerFromPattern</key>
	<string>boxshadowInValue</string>
	<key>priorCompletionRate</key>
	<string>respectiveSymbolScale</string>
	<key>sizedboxBeyondComposite</key>
	<string>tabviewAboutMediator</string>
	<key>slashWorkFeedback</key>
	<string>concurrentUsecaseState</string>
	<key>smallGemBottom</key>
	<string>mainSliderDepth</string>
</dict>
</plist>
