<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesFlyweightKind</key>
	<string>cubitValueTheme</string>
	<key>coordinatorInValue</key>
	<string>menuTempleTint</string>
	<key>crucialFactoryHead</key>
	<string>symmetricLogarithmInteraction</string>
	<key>effectDuringStyle</key>
	<string>techniqueAwayFunction</string>
	<key>nextReferenceFlags</key>
	<string>projectAroundJob</string>
	<key>overlayMementoDirection</key>
	<string>cupertinoTechniqueName</string>
	<key>popupMediatorSpacing</key>
	<string>normalSliderInset</string>
	<key>requestAtParameter</key>
	<string>diversifiedBorderDelay</string>
</dict>
</plist>
