<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandPhaseDistance</key>
	<string>fragmentAwayParameter</string>
	<key>effectAgainstComposite</key>
	<string>spineSingletonHead</string>
	<key>nativeTextureColor</key>
	<string>positionUntilStyle</string>
	<key>newestCacheSpeed</key>
	<string>subsequentThreadMode</string>
	<key>sliderStructureTheme</key>
	<string>navigationActionPressure</string>
	<key>sophisticatedDelegateSkewx</key>
	<string>sinkPhaseTheme</string>
</dict>
</plist>
