<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableGrainLeft</key>
	<string>specifierExceptStage</string>
	<key>durationAmongPlatform</key>
	<string>iconEnvironmentFrequency</string>
	<key>equalizationFunctionTop</key>
	<string>webSegmentOrigin</string>
	<key>nextHashMode</key>
	<string>offsetVersusFunction</string>
	<key>nodeVisitorFeedback</key>
	<string>interactorInsideScope</string>
	<key>offsetCommandOrigin</key>
	<string>discardedSessionFeedback</string>
	<key>providerDuringFramework</key>
	<string>sharedGesturedetectorVisibility</string>
	<key>sharedTouchBrightness</key>
	<string>unsortedConstraintCenter</string>
	<key>threadAboutParam</key>
	<string>resolverAtFlyweight</string>
</dict>
</plist>
