<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorModeStatus</key>
	<string>documentBesideFunction</string>
	<key>finalIsolateCoord</key>
	<string>sineSystemPressure</string>
	<key>matrixDespiteStyle</key>
	<string>titleMediatorStyle</string>
	<key>profileFromWork</key>
	<string>modulusByLayer</string>
	<key>rectPerStructure</key>
	<string>challengeTempleDuration</string>
	<key>smallBlocFormat</key>
	<string>topicObserverSkewx</string>
	<key>streamMementoHead</key>
	<string>resultNumberColor</string>
</dict>
</plist>
