<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeEntropyForce</key>
	<string>mobilePerTemple</string>
	<key>consumerInsideOperation</key>
	<string>accessibleMediaqueryOffset</string>
	<key>finalInterfaceIndex</key>
	<string>nodeWithoutWork</string>
	<key>instructionFacadeMargin</key>
	<string>hardTopicBrightness</string>
	<key>largeImageTail</key>
	<string>observerTaskRotation</string>
	<key>largeParticleSpacing</key>
	<string>segmentPerActivity</string>
	<key>missionDecoratorOrientation</key>
	<string>marginJobBehavior</string>
</dict>
</plist>
