<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionExceptType</key>
	<string>discardedTextCenter</string>
	<key>gradientFrameworkTag</key>
	<string>lastFactoryLeft</string>
	<key>interactorPatternRight</key>
	<string>dialogsTypeRight</string>
	<key>keyExtensionDirection</key>
	<string>standaloneDocumentSpeed</string>
	<key>navigatorLayerBrightness</key>
	<string>indicatorAroundMediator</string>
	<key>numericalGiftRate</key>
	<string>constraintPrototypeShade</string>
	<key>roleFlyweightLeft</key>
	<string>boxShapeScale</string>
	<key>scaleThroughDecorator</key>
	<string>queueMethodValidation</string>
</dict>
</plist>
