<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerProxySpeed</key>
	<string>segmentWithCommand</string>
	<key>functionalLocalizationContrast</key>
	<string>musicStateContrast</string>
	<key>nodeExceptProcess</key>
	<string>inheritedChapterBehavior</string>
</dict>
</plist>
