<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedClipperValidation</key>
	<string>serviceProxyOrientation</string>
	<key>delegateDuringAction</key>
	<string>builderBridgeCount</string>
	<key>persistentResolverTension</key>
	<string>durationThanStyle</string>
</dict>
</plist>
