<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitDuringSystem</key>
	<string>significantMatrixOrientation</string>
	<key>missedRowSize</key>
	<string>cartesianSinkVisibility</string>
	<key>permissiveMasterKind</key>
	<string>pointAtPlatform</string>
	<key>standaloneProtocolOrientation</key>
	<string>customSinkFeedback</string>
	<key>subtleNotificationPressure</key>
	<string>apertureWorkPadding</string>
</dict>
</plist>
