<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralQueueType</key>
	<string>presenterContextHead</string>
	<key>lastBlocOffset</key>
	<string>queueLevelTop</string>
	<key>navigationCompositeDensity</key>
	<string>significantAsyncVelocity</string>
	<key>operationBesideParameter</key>
	<string>streamAtWork</string>
	<key>slashVersusMediator</key>
	<string>resolverEnvironmentFeedback</string>
</dict>
</plist>
