<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedObserverPressure</key>
	<string>hashKindTension</string>
	<key>dropdownbuttonUntilFunction</key>
	<string>dropdownbuttonDuringValue</string>
	<key>featureTypeVisibility</key>
	<string>repositoryCommandRate</string>
	<key>graphicFlyweightValidation</key>
	<string>draggableCurveState</string>
	<key>listviewFacadeDelay</key>
	<string>cupertinoPromiseLeft</string>
	<key>offsetContainMode</key>
	<string>protectedBufferMode</string>
	<key>positionStructureInterval</key>
	<string>drawerLevelOffset</string>
	<key>retainedProjectionColor</key>
	<string>taskAgainstInterpreter</string>
	<key>utilPrototypeAppearance</key>
	<string>musicNearMode</string>
	<key>vectorByVisitor</key>
	<string>routerPatternTransparency</string>
</dict>
</plist>
