<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyExceptionName</key>
	<string>sineLevelFlags</string>
	<key>fixedRouteName</key>
	<string>cosineVisitorScale</string>
	<key>mainSubscriptionFormat</key>
	<string>stateIncludeForm</string>
	<key>overlayAgainstEnvironment</key>
	<string>swiftSinceComposite</string>
	<key>pinchableTextureVelocity</key>
	<string>stepThanFramework</string>
	<key>streamBeyondTemple</key>
	<string>hashLevelHue</string>
	<key>subtleCubitDirection</key>
	<string>sessionPerFlyweight</string>
	<key>techniqueAboutForm</key>
	<string>catalystOutsideOperation</string>
</dict>
</plist>
