<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedWidgetPosition</key>
	<string>bitrateTierPadding</string>
	<key>cellAsMethod</key>
	<string>largeTweenColor</string>
	<key>granularModalTension</key>
	<string>responseAboutForm</string>
	<key>isolateAmongComposite</key>
	<string>popupChainLocation</string>
	<key>particleThroughBridge</key>
	<string>concurrentCosineType</string>
	<key>petStrategyAppearance</key>
	<string>lostPriorityAcceleration</string>
	<key>scrollableDropdownbuttonDirection</key>
	<string>utilMementoAlignment</string>
	<key>taskAndParameter</key>
	<string>webFrameOpacity</string>
	<key>textFunctionAlignment</key>
	<string>otherChartCenter</string>
	<key>transformerProcessFrequency</key>
	<string>interfaceProcessForce</string>
</dict>
</plist>
