<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineActionForce</key>
	<string>normalListenerType</string>
	<key>cubeBeyondChain</key>
	<string>sortedPriorityState</string>
	<key>dialogsAmongValue</key>
	<string>tabbarActionOrigin</string>
	<key>displayableReferenceBottom</key>
	<string>errorContainEnvironment</string>
	<key>hierarchicalModalSkewy</key>
	<string>subpixelDecoratorRotation</string>
	<key>invisibleEntityBorder</key>
	<string>handlerObserverStyle</string>
	<key>skinContextLeft</key>
	<string>getxAmongPrototype</string>
	<key>specifyTimerVelocity</key>
	<string>rowPerParameter</string>
	<key>typicalSpotContrast</key>
	<string>requiredMenuBrightness</string>
	<key>widgetVersusPlatform</key>
	<string>sampleMethodMargin</string>
</dict>
</plist>
