<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAsAdapter</key>
	<string>pointStateHead</string>
	<key>buttonThroughBuffer</key>
	<string>capsulePrototypeInterval</string>
	<key>concurrentThemeBottom</key>
	<string>prismaticCubitInterval</string>
	<key>pinchableSceneType</key>
	<string>labelOperationAppearance</string>
	<key>progressbarExceptDecorator</key>
	<string>queryAgainstProxy</string>
	<key>rectVersusValue</key>
	<string>controllerThroughSystem</string>
	<key>smartDescriptionAcceleration</key>
	<string>apertureAndMemento</string>
	<key>statefulDescriptionPressure</key>
	<string>sliderCompositeMargin</string>
	<key>statelessStatelessShape</key>
	<string>delicateVectorCount</string>
	<key>storyboardDecoratorInset</key>
	<string>adaptiveModalSpeed</string>
</dict>
</plist>
