<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentCommandDensity</key>
	<string>movementBufferTransparency</string>
	<key>buttonDespiteFlyweight</key>
	<string>errorAgainstProcess</string>
	<key>delegateFormMode</key>
	<string>parallelNotificationColor</string>
	<key>explicitDelegateLeft</key>
	<string>activeResourceSkewx</string>
	<key>fixedExceptionShade</key>
	<string>mutableChannelColor</string>
	<key>robustSignatureHead</key>
	<string>geometricBoxshadowStatus</string>
	<key>subpixelOutsideParam</key>
	<string>stepTierInteraction</string>
</dict>
</plist>
