<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonPlatformName</key>
	<string>menuViaStructure</string>
	<key>chapterLevelRight</key>
	<string>effectFromSingleton</string>
	<key>completionDuringLayer</key>
	<string>requiredAlertPressure</string>
	<key>largeGramForce</key>
	<string>spriteSystemKind</string>
	<key>logForMemento</key>
	<string>respectiveKernelCoord</string>
	<key>profileVarAcceleration</key>
	<string>sophisticatedRouterLocation</string>
	<key>resilientTransitionSpacing</key>
	<string>stampSystemOrigin</string>
	<key>touchCycleBehavior</key>
	<string>missedRouterLocation</string>
	<key>transitionLevelDuration</key>
	<string>drawerAmongFramework</string>
</dict>
</plist>
