<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerOffsetType</key>
	<string>parallelNodeBrightness</string>
	<key>graphActivityOpacity</key>
	<string>gradientNearMethod</string>
	<key>imperativeFuturePosition</key>
	<string>concreteModulusStyle</string>
	<key>monsterWithWork</key>
	<string>constFeatureVelocity</string>
	<key>reducerNumberInset</key>
	<string>eagerEventVelocity</string>
	<key>signatureInsideShape</key>
	<string>routeViaBuffer</string>
	<key>taskPatternLeft</key>
	<string>resizableProjectionTail</string>
</dict>
</plist>
