<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioParamBorder</key>
	<string>persistentGiftTint</string>
	<key>asyncRadioTail</key>
	<string>comprehensiveSceneMomentum</string>
	<key>awaitPrototypeBrightness</key>
	<string>descriptionBeyondShape</string>
	<key>bufferCompositeOrigin</key>
	<string>prismaticMarginVisible</string>
	<key>frameKindMode</key>
	<string>skirtLayerRight</string>
	<key>fusedColumnBottom</key>
	<string>coordinatorNearParameter</string>
	<key>protocolAgainstObserver</key>
	<string>previewThroughVariable</string>
	<key>smallGrainCount</key>
	<string>kernelOutsideVariable</string>
</dict>
</plist>
