<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheProxySaturation</key>
	<string>tweenIncludeProxy</string>
	<key>easyBlocStyle</key>
	<string>synchronousAlignmentSpeed</string>
	<key>interfaceStrategyFormat</key>
	<string>localConfigurationFrequency</string>
	<key>substantialDurationRight</key>
	<string>independentDocumentInset</string>
</dict>
</plist>
