<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerValueMargin</key>
	<string>dependencyVisitorAppearance</string>
	<key>collectionOfProxy</key>
	<string>transformerDuringStage</string>
	<key>entityStageShade</key>
	<string>curveCompositeBottom</string>
	<key>mediaOrScope</key>
	<string>chapterOutsideStage</string>
	<key>mediumReducerScale</key>
	<string>mediaqueryExceptScope</string>
	<key>textureForOperation</key>
	<string>granularListenerTail</string>
</dict>
</plist>
