<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileTitleVisibility</key>
	<string>loopActionDuration</string>
	<key>commandPerStrategy</key>
	<string>dynamicGraphicCount</string>
	<key>factoryAboutKind</key>
	<string>handlerWorkAlignment</string>
	<key>imageTaskType</key>
	<string>backwardGraphicFrequency</string>
	<key>listenerAtStrategy</key>
	<string>subtleBlocName</string>
	<key>stackAwayPhase</key>
	<string>accessiblePositionLeft</string>
	<key>tickerAmongScope</key>
	<string>equalizationSystemInterval</string>
	<key>viewDespiteLayer</key>
	<string>cellAroundTier</string>
	<key>workflowOfSingleton</key>
	<string>stateLevelSpeed</string>
</dict>
</plist>
