<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushDuringTask</key>
	<string>nodeThroughChain</string>
	<key>buttonVersusEnvironment</key>
	<string>similarRowTop</string>
	<key>cellScopeTint</key>
	<string>utilVersusJob</string>
	<key>discardedBulletBorder</key>
	<string>operationDuringVariable</string>
	<key>masterOfVar</key>
	<string>providerFlyweightState</string>
	<key>originalStorageDelay</key>
	<string>shaderWithoutTask</string>
	<key>precisionOperationLocation</key>
	<string>positionAmongType</string>
	<key>priorChartTheme</key>
	<string>controllerFormTransparency</string>
	<key>retainedConvolutionForce</key>
	<string>mobxAlongDecorator</string>
	<key>sliderDuringFramework</key>
	<string>mainQueryStatus</string>
</dict>
</plist>
