<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasDecoratorFeedback</key>
	<string>gridAtScope</string>
	<key>completerStateCenter</key>
	<string>materialUntilValue</string>
	<key>constraintContextAcceleration</key>
	<string>currentClipperBound</string>
	<key>dynamicResultOffset</key>
	<string>assetNearType</string>
	<key>utilNumberSpeed</key>
	<string>functionalCompleterAppearance</string>
</dict>
</plist>
