<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCoordinatorDuration</key>
	<string>overlayAwayValue</string>
	<key>baselineStrategyOpacity</key>
	<string>interfaceSystemAppearance</string>
	<key>constGradientMode</key>
	<string>fixedPresenterInterval</string>
	<key>disabledToolAppearance</key>
	<string>semanticRichtextFrequency</string>
	<key>intermediateCustompaintIndex</key>
	<string>labelLevelBehavior</string>
	<key>matrixSinceFacade</key>
	<string>cupertinoThanFramework</string>
	<key>substantialStreamRate</key>
	<string>discardedRepositoryTail</string>
</dict>
</plist>
