<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeResolverScale</key>
	<string>imperativeEntityStatus</string>
	<key>advancedPaddingScale</key>
	<string>chartDecoratorIndex</string>
	<key>commonStampContrast</key>
	<string>advancedMethodRight</string>
	<key>gateVarSaturation</key>
	<string>diffableLocalizationResponse</string>
	<key>independentAsyncSpeed</key>
	<string>temporaryPlaybackState</string>
	<key>rowSingletonFeedback</key>
	<string>gesturedetectorStageKind</string>
	<key>sizeActivityTail</key>
	<string>cursorProxyResponse</string>
	<key>sliderStyleFlags</key>
	<string>integerLevelInteraction</string>
</dict>
</plist>
