<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>particleForMemento</key>
	<string>euclideanNavigationTail</string>
	<key>subsequentLabelIndex</key>
	<string>compositionalAllocatorDensity</string>
	<key>synchronousBuilderBrightness</key>
	<string>cupertinoDespiteForm</string>
</dict>
</plist>
