<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometricCallbackVelocity</key>
	<string>invisibleSwiftOrientation</string>
	<key>permissiveSinkRight</key>
	<string>animationNearCommand</string>
	<key>substantialBlocTail</key>
	<string>navigatorJobIndex</string>
	<key>unaryActionFeedback</key>
	<string>masterAgainstPhase</string>
</dict>
</plist>
