<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderDespiteStructure</key>
	<string>multiPrecisionTag</string>
	<key>convolutionParameterHue</key>
	<string>histogramModeRotation</string>
	<key>diversifiedReducerInterval</key>
	<string>previewDespiteParameter</string>
	<key>globalCompletionStyle</key>
	<string>spriteValueFrequency</string>
	<key>largeHandlerFeedback</key>
	<string>composableButtonRight</string>
	<key>observerFromPhase</key>
	<string>optionByVar</string>
	<key>promiseInType</key>
	<string>bufferProxyAcceleration</string>
</dict>
</plist>
