<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperTempleDuration</key>
	<string>graphPrototypeBound</string>
	<key>explicitHandlerCount</key>
	<string>disabledRemainderVisibility</string>
	<key>frameLevelSkewy</key>
	<string>heroAtPhase</string>
	<key>mediaqueryWithoutValue</key>
	<string>cycleJobDepth</string>
	<key>normalChapterBehavior</key>
	<string>constMediaForce</string>
	<key>symbolSystemStyle</key>
	<string>playbackIncludeProcess</string>
</dict>
</plist>
