<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSkirtBrightness</key>
	<string>oldStoryboardMargin</string>
	<key>easyMemberForce</key>
	<string>beginnerViewBottom</string>
	<key>originalFrameType</key>
	<string>handlerFromBuffer</string>
	<key>requestParameterTail</key>
	<string>gestureSinceKind</string>
	<key>transformerJobVisibility</key>
	<string>temporaryPointType</string>
	<key>zoneFormVelocity</key>
	<string>primaryViewTint</string>
</dict>
</plist>
