<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushStageTransparency</key>
	<string>extensionBeyondWork</string>
	<key>consumerAmongStyle</key>
	<string>descriptorOperationBrightness</string>
	<key>hyperbolicFeatureSkewx</key>
	<string>skinSystemOffset</string>
	<key>intensityByBuffer</key>
	<string>clipperPerCycle</string>
	<key>isolateTaskLeft</key>
	<string>taskStrategyStyle</string>
	<key>iterativeChartShape</key>
	<string>opaqueAssetKind</string>
	<key>unaryParamLocation</key>
	<string>topicModeInset</string>
</dict>
</plist>
