<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileActivitySkewy</key>
	<string>observerWithVariable</string>
	<key>animatedTabbarCount</key>
	<string>lossVersusWork</string>
	<key>crudeLayoutColor</key>
	<string>fusedExceptionType</string>
	<key>dialogsAtComposite</key>
	<string>taskActionOpacity</string>
	<key>handlerAroundWork</key>
	<string>constraintWorkOffset</string>
	<key>hashContextLeft</key>
	<string>channelsContainContext</string>
	<key>immutableListenerOpacity</key>
	<string>textDuringContext</string>
	<key>otherConvolutionPressure</key>
	<string>presenterFormPosition</string>
	<key>resolverExceptPhase</key>
	<string>hardContractionDirection</string>
	<key>resourceLikePrototype</key>
	<string>groupByStage</string>
</dict>
</plist>
