<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAndPlatform</key>
	<string>iterativeUtilOpacity</string>
	<key>hashDuringValue</key>
	<string>borderAroundSystem</string>
	<key>ignoredNavigationScale</key>
	<string>hardAlphaTension</string>
	<key>logActivityRotation</key>
	<string>channelIncludeMethod</string>
	<key>managerAgainstWork</key>
	<string>mutableAnimationVelocity</string>
	<key>staticAwaitResponse</key>
	<string>flexibleGraphicAcceleration</string>
</dict>
</plist>
