<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleBesideTier</key>
	<string>decorationOperationTheme</string>
	<key>gridCommandRotation</key>
	<string>alignmentMethodDensity</string>
	<key>metadataPerContext</key>
	<string>subpixelContextRotation</string>
	<key>stateVarAlignment</key>
	<string>localRiverpodCount</string>
</dict>
</plist>
