<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveStrategyFrequency</key>
	<string>musicInFunction</string>
	<key>labelForKind</key>
	<string>activatedMemberAcceleration</string>
	<key>loopPerState</key>
	<string>containerForPattern</string>
	<key>permanentButtonEdge</key>
	<string>nextRepositoryTransparency</string>
	<key>priorContainerSpeed</key>
	<string>arithmeticProxyFlags</string>
	<key>rectAboutStage</key>
	<string>comprehensiveMenuAppearance</string>
	<key>rectFormSize</key>
	<string>euclideanStreamSize</string>
	<key>retainedBuilderTint</key>
	<string>intensityOutsideFlyweight</string>
</dict>
</plist>
