<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonPresenterOpacity</key>
	<string>gridviewIncludeBuffer</string>
	<key>handlerBeyondVar</key>
	<string>histogramViaVisitor</string>
	<key>promiseTempleSpacing</key>
	<string>columnWorkMomentum</string>
	<key>staticStreamSpeed</key>
	<string>logByValue</string>
	<key>symmetricTimerLeft</key>
	<string>gesturedetectorByStage</string>
</dict>
</plist>
