<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectExceptState</key>
	<string>temporaryHandlerLeft</string>
	<key>greatEqualizationPosition</key>
	<string>typicalMissionMode</string>
	<key>plateDespiteComposite</key>
	<string>functionalSignaturePadding</string>
	<key>secondResolverTension</key>
	<string>cupertinoAboutJob</string>
</dict>
</plist>
