<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentWithoutActivity</key>
	<string>brushShapeDensity</string>
	<key>animatedcontainerThroughStyle</key>
	<string>missedInteractorMomentum</string>
	<key>collectionFrameworkState</key>
	<string>fragmentContextInset</string>
	<key>gridviewActionCoord</key>
	<string>animationAtType</string>
	<key>labelWorkOpacity</key>
	<string>notificationOfSystem</string>
	<key>mobxSingletonBorder</key>
	<string>persistentTransformerVisible</string>
	<key>monsterAtVar</key>
	<string>navigationValueBehavior</string>
	<key>nativePreviewBorder</key>
	<string>layoutStrategyFormat</string>
	<key>resultOperationBound</key>
	<string>dynamicGiftSpeed</string>
	<key>substantialScaffoldDirection</key>
	<string>constraintAtMethod</string>
</dict>
</plist>
