<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperSinceState</key>
	<string>blocTypePressure</string>
	<key>controllerWithFlyweight</key>
	<string>constTimerBrightness</string>
	<key>cycleFormDistance</key>
	<string>sizeExceptTemple</string>
	<key>errorValueRate</key>
	<string>numericalCompositionOrientation</string>
	<key>lossVersusShape</key>
	<string>logDespiteComposite</string>
	<key>scrollTierValidation</key>
	<string>awaitByProxy</string>
</dict>
</plist>
