<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderObserverTension</key>
	<string>batchAwayEnvironment</string>
	<key>intermediateProtocolOrientation</key>
	<string>repositoryLayerInset</string>
	<key>widgetTaskOrigin</key>
	<string>featureBridgeStatus</string>
</dict>
</plist>
