<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncGiftInset</key>
	<string>permissiveSegueTheme</string>
	<key>concurrentContainerTag</key>
	<string>remainderModeCoord</string>
	<key>desktopDurationDistance</key>
	<string>dependencyAndVar</string>
	<key>directlyEquipmentValidation</key>
	<string>lostZoneScale</string>
	<key>disabledMobxAlignment</key>
	<string>textUntilAction</string>
	<key>discardedTextureTransparency</key>
	<string>intermediateTransitionName</string>
	<key>labelFromChain</key>
	<string>compositionVisitorState</string>
	<key>riverpodPatternFrequency</key>
	<string>pageviewDespiteTemple</string>
	<key>similarPrecisionTension</key>
	<string>directObserverShade</string>
	<key>standaloneBufferResponse</key>
	<string>opaqueDependencyFeedback</string>
</dict>
</plist>
