<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityAtShape</key>
	<string>dedicatedCustompaintTail</string>
	<key>aspectratioStageInset</key>
	<string>interactorOrTask</string>
	<key>currentGramSize</key>
	<string>nativeResourceState</string>
	<key>frameFrameworkBound</key>
	<string>mediumCardLocation</string>
	<key>parallelChartHead</key>
	<string>descriptionEnvironmentPadding</string>
	<key>progressbarStylePadding</key>
	<string>entropyBeyondStrategy</string>
	<key>richtextAgainstPlatform</key>
	<string>currentBrushDepth</string>
	<key>screenJobVisibility</key>
	<string>monsterInterpreterLeft</string>
</dict>
</plist>
