<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionVersusState</key>
	<string>statelessMediaMargin</string>
	<key>frameIncludeVariable</key>
	<string>scaleShapeDuration</string>
	<key>logDespitePrototype</key>
	<string>operationObserverShape</string>
	<key>popupInterpreterInteraction</key>
	<string>sinkNearProxy</string>
	<key>sliderTaskInset</key>
	<string>immutableRectOrientation</string>
	<key>sortedActivityResponse</key>
	<string>customizedResolverTop</string>
	<key>tableFunctionVisibility</key>
	<string>tangentNearVar</string>
	<key>unaryOutsideBuffer</key>
	<string>elasticMenuEdge</string>
</dict>
</plist>
