<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonFrameworkStyle</key>
	<string>resultNumberVisibility</string>
	<key>delicateCurveOpacity</key>
	<string>accessoryStrategyLeft</string>
	<key>inkwellCommandDepth</key>
	<string>builderDespiteBuffer</string>
</dict>
</plist>
