<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleConfigurationLocation</key>
	<string>blocParameterPosition</string>
	<key>awaitOutsideComposite</key>
	<string>sizeBeyondInterpreter</string>
	<key>containerVersusKind</key>
	<string>materialJobRight</string>
	<key>dependencyAdapterHue</key>
	<string>gridSingletonFormat</string>
	<key>mediumCupertinoRight</key>
	<string>pivotalRichtextKind</string>
	<key>pinchableNotifierScale</key>
	<string>nodeInsideVisitor</string>
	<key>routeAroundStrategy</key>
	<string>radioFacadeInterval</string>
	<key>subscriptionLikeType</key>
	<string>typicalDropdownbuttonBound</string>
	<key>typicalPriorityType</key>
	<string>dimensionJobHead</string>
	<key>usedLocalizationEdge</key>
	<string>stateVersusChain</string>
</dict>
</plist>
