<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionModulusSize</key>
	<string>requiredGraphTransparency</string>
	<key>descriptionAboutFunction</key>
	<string>symmetricTweenAlignment</string>
	<key>layoutSingletonBrightness</key>
	<string>baseShapeFlags</string>
	<key>localizationPatternAppearance</key>
	<string>titleFromChain</string>
	<key>otherPainterStatus</key>
	<string>referenceForTask</string>
	<key>plateCommandDensity</key>
	<string>robustTweenColor</string>
	<key>shaderWithBuffer</key>
	<string>techniqueMementoFormat</string>
	<key>tabbarChainOpacity</key>
	<string>mediumDurationOrientation</string>
	<key>topicOutsideCommand</key>
	<string>configurationSinceTask</string>
	<key>webTickerFeedback</key>
	<string>columnWorkOffset</string>
</dict>
</plist>
