<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaThroughState</key>
	<string>methodStyleDensity</string>
	<key>currentRouteTension</key>
	<string>navigatorTempleCenter</string>
	<key>effectFromOperation</key>
	<string>variantInFunction</string>
	<key>zoneVisitorName</key>
	<string>finalMenuMode</string>
</dict>
</plist>
