<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorFlyweightFlags</key>
	<string>stampAroundStage</string>
	<key>curveAsPrototype</key>
	<string>getxInsideLevel</string>
	<key>draggablePresenterRate</key>
	<string>widgetCommandIndex</string>
	<key>intuitiveHandlerOrigin</key>
	<string>consultativeRowAcceleration</string>
	<key>queueFrameworkInterval</key>
	<string>hyperbolicFutureDistance</string>
	<key>roleMediatorVisibility</key>
	<string>disparateResolverCenter</string>
</dict>
</plist>
