<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCharacterBorder</key>
	<string>persistentAnimatedcontainerBorder</string>
	<key>firstChartContrast</key>
	<string>hardDecorationTag</string>
	<key>keySpriteRate</key>
	<string>animationParamColor</string>
	<key>marginPerStyle</key>
	<string>ternaryTaskVisible</string>
	<key>normStructureRate</key>
	<string>observerAwayNumber</string>
	<key>priorObserverPressure</key>
	<string>greatParticleSize</string>
</dict>
</plist>
