<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerParticleBrightness</key>
	<string>similarScrollDuration</string>
	<key>eagerSizedboxFrequency</key>
	<string>tableActionFlags</string>
	<key>functionalCollectionInteraction</key>
	<string>positionDespiteParam</string>
	<key>gridTypeState</key>
	<string>protectedProviderRotation</string>
	<key>hyperbolicRectCount</key>
	<string>unactivatedTickerBound</string>
	<key>lastPriorityRotation</key>
	<string>nodePrototypeDepth</string>
	<key>multiIntegerSpeed</key>
	<string>frameProcessOrientation</string>
	<key>resizableHeapRotation</key>
	<string>isolateScopeOffset</string>
	<key>staticDrawerTop</key>
	<string>viewSingletonAlignment</string>
</dict>
</plist>
