<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionTickerContrast</key>
	<string>routeVersusTask</string>
	<key>animationAboutOperation</key>
	<string>queueTypeTint</string>
	<key>chartWithMemento</key>
	<string>explicitIconPosition</string>
	<key>constCapsuleLocation</key>
	<string>petAndLevel</string>
	<key>durationAwayStrategy</key>
	<string>compositionByCycle</string>
	<key>requiredResolverCenter</key>
	<string>vectorViaValue</string>
	<key>topicFrameworkPadding</key>
	<string>layerScopeName</string>
	<key>usageWithShape</key>
	<string>routeVersusAction</string>
</dict>
</plist>
