<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionCompletionDuration</key>
	<string>customizedMemberBrightness</string>
	<key>draggableGridCount</key>
	<string>deferredBuilderTail</string>
	<key>errorUntilVar</key>
	<string>storyboardBesideValue</string>
	<key>handlerDecoratorOpacity</key>
	<string>chapterChainAcceleration</string>
	<key>layoutOutsideFacade</key>
	<string>swiftAroundEnvironment</string>
	<key>popupFromFlyweight</key>
	<string>transitionKindFrequency</string>
	<key>primaryResourceScale</key>
	<string>grayscaleStructureStyle</string>
</dict>
</plist>
