<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterBesideAction</key>
	<string>graphOutsideCycle</string>
	<key>discardedRouterSize</key>
	<string>buttonNumberOpacity</string>
	<key>durationAlongForm</key>
	<string>catalystPrototypeShape</string>
	<key>frameTaskSize</key>
	<string>asyncTierSpacing</string>
	<key>mainActivityBound</key>
	<string>constraintAwayParameter</string>
	<key>overlayWithoutTier</key>
	<string>disparateCanvasEdge</string>
	<key>repositoryAwayLayer</key>
	<string>transitionPatternSkewx</string>
	<key>routerFacadeMargin</key>
	<string>groupDecoratorAcceleration</string>
	<key>threadSystemBound</key>
	<string>checkboxOperationLeft</string>
</dict>
</plist>
