<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedNavigatorDuration</key>
	<string>advancedSingletonInset</string>
	<key>responsiveSubscriptionRight</key>
	<string>graphicAgainstStructure</string>
	<key>scrollTaskDistance</key>
	<string>dropdownbuttonPrototypeDirection</string>
	<key>storageFunctionVisibility</key>
	<string>uniformCardDistance</string>
</dict>
</plist>
