<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerInsideShape</key>
	<string>resilientTitleRotation</string>
	<key>fixedVectorDistance</key>
	<string>greatStoreRate</string>
	<key>uniqueMatrixSpacing</key>
	<string>gateIncludeObserver</string>
</dict>
</plist>
