<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeCapsuleBottom</key>
	<string>diffableTextVelocity</string>
	<key>eventSingletonLocation</key>
	<string>cellAndJob</string>
	<key>lostDescriptionType</key>
	<string>painterAgainstPlatform</string>
	<key>managerInMemento</key>
	<string>activatedUtilCenter</string>
	<key>skinAndActivity</key>
	<string>temporaryInterpolationDistance</string>
</dict>
</plist>
