<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletBeyondObserver</key>
	<string>grainValueSize</string>
	<key>criticalRectTail</key>
	<string>responseStylePadding</string>
	<key>curveCompositeEdge</key>
	<string>sharedTransformerDuration</string>
	<key>dedicatedProviderFrequency</key>
	<string>cartesianScreenInterval</string>
	<key>effectContextName</key>
	<string>optionFacadeLeft</string>
	<key>multiDurationStyle</key>
	<string>capacitiesByVariable</string>
	<key>storeBesideKind</key>
	<string>heroStructureDirection</string>
	<key>transformerPhaseMomentum</key>
	<string>sharedConsumerFormat</string>
	<key>uniformCardVisible</key>
	<string>configurationBeyondBridge</string>
</dict>
</plist>
