<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateShapeBorder</key>
	<string>arithmeticResultAlignment</string>
	<key>buttonBufferDelay</key>
	<string>sophisticatedSpotInterval</string>
	<key>desktopDropdownbuttonDistance</key>
	<string>commonListviewPadding</string>
	<key>factoryScopeMargin</key>
	<string>builderOrProxy</string>
	<key>logLevelPressure</key>
	<string>originalModulusCount</string>
	<key>oldBulletMode</key>
	<string>serviceExceptShape</string>
	<key>roleViaStyle</key>
	<string>errorOrAction</string>
	<key>touchDecoratorResponse</key>
	<string>sophisticatedReducerForce</string>
</dict>
</plist>
