<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerOperationRate</key>
	<string>modelTierFlags</string>
	<key>mapPatternBound</key>
	<string>canvasIncludeStrategy</string>
	<key>slashObserverLocation</key>
	<string>cursorProcessSkewx</string>
	<key>viewCycleLocation</key>
	<string>statelessCommandPressure</string>
</dict>
</plist>
