<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentEventBottom</key>
	<string>controllerDuringContext</string>
	<key>delegateBridgeTint</key>
	<string>callbackActivityDuration</string>
	<key>effectDespiteNumber</key>
	<string>frameMementoOffset</string>
	<key>euclideanIsolateFeedback</key>
	<string>constraintByState</string>
	<key>fusedChannelsTheme</key>
	<string>tableIncludeContext</string>
	<key>loopSinceNumber</key>
	<string>utilFromPrototype</string>
	<key>subpixelCycleBound</key>
	<string>fixedAppbarBehavior</string>
</dict>
</plist>
