<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileTransformerVisible</key>
	<string>independentChannelsAlignment</string>
	<key>backwardPromiseContrast</key>
	<string>axisSinceLevel</string>
	<key>dependencyProxyCenter</key>
	<string>declarativeActionVelocity</string>
	<key>gestureLikeInterpreter</key>
	<string>diversifiedChartTint</string>
	<key>listenerExceptOperation</key>
	<string>containerValueTag</string>
	<key>operationNearMethod</key>
	<string>reductionFromFunction</string>
	<key>positionedBridgeCenter</key>
	<string>queryTierRight</string>
	<key>queryAgainstEnvironment</key>
	<string>heapStateMomentum</string>
	<key>radiusStyleColor</key>
	<string>queryJobFrequency</string>
	<key>sliderViaVisitor</key>
	<string>bufferWorkMomentum</string>
</dict>
</plist>
