<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resourceAndState</key>
	<string>monsterTaskName</string>
	<key>switchStageMomentum</key>
	<string>canvasContextMomentum</string>
	<key>widgetThroughBuffer</key>
	<string>monsterViaPattern</string>
</dict>
</plist>
