<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionByStage</key>
	<string>progressbarDecoratorShape</string>
	<key>concurrentResponseResponse</key>
	<string>custompaintCycleRight</string>
	<key>hashCycleSkewx</key>
	<string>borderPhaseFeedback</string>
	<key>missionContainState</key>
	<string>secondViewTension</string>
	<key>publicResourceScale</key>
	<string>overlayOrSystem</string>
	<key>reductionBeyondTask</key>
	<string>assetTaskCoord</string>
	<key>secondEqualizationVisibility</key>
	<string>intuitiveProjectionShade</string>
	<key>statefulMaterialTransparency</key>
	<string>comprehensiveFrameFlags</string>
	<key>viewThanMode</key>
	<string>arithmeticControllerTop</string>
</dict>
</plist>
