<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellFormSkewy</key>
	<string>multiplicationCompositeValidation</string>
	<key>extensionPhaseHead</key>
	<string>subsequentCacheDuration</string>
	<key>granularActivityColor</key>
	<string>injectionFormLocation</string>
	<key>mediumResultRight</key>
	<string>riverpodMethodState</string>
	<key>menuProxyCenter</key>
	<string>spineFormHead</string>
	<key>tensorTitleOrigin</key>
	<string>interfaceWorkAlignment</string>
</dict>
</plist>
