<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeEntityCount</key>
	<string>activeSineType</string>
	<key>alignmentNearTemple</key>
	<string>screenMementoStatus</string>
	<key>animatedMenuBottom</key>
	<string>largeTaskSpacing</string>
	<key>callbackBufferDistance</key>
	<string>utilAmongMemento</string>
	<key>durationForCycle</key>
	<string>draggableOperationFlags</string>
	<key>finalPreviewShade</key>
	<string>plateVarVisibility</string>
	<key>intensityByFunction</key>
	<string>descriptionTaskEdge</string>
	<key>mediaqueryScopeInteraction</key>
	<string>constraintCommandDistance</string>
	<key>missionAmongPrototype</key>
	<string>ignoredPrecisionLocation</string>
	<key>movementForNumber</key>
	<string>imperativeResponseContrast</string>
</dict>
</plist>
