<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentDecoratorSpacing</key>
	<string>groupSinceStrategy</string>
	<key>commonGestureTint</key>
	<string>statelessSystemShape</string>
	<key>delegateThanVisitor</key>
	<string>arithmeticExceptionPressure</string>
	<key>frameVariableDirection</key>
	<string>transitionScopeBrightness</string>
	<key>lastMemberDensity</key>
	<string>featureAmongParam</string>
	<key>layoutWithoutStrategy</key>
	<string>finalSignFlags</string>
	<key>presenterOutsideInterpreter</key>
	<string>subscriptionWithInterpreter</string>
	<key>specifyResolverCount</key>
	<string>observerParameterShape</string>
</dict>
</plist>
