<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleLabelOpacity</key>
	<string>kernelBeyondComposite</string>
	<key>apertureNearSystem</key>
	<string>playbackVariableCenter</string>
	<key>baselineMethodOffset</key>
	<string>symmetricCapsuleTheme</string>
	<key>boxshadowBeyondBridge</key>
	<string>consumerContainFlyweight</string>
	<key>featurePerMemento</key>
	<string>consumerPrototypeTop</string>
	<key>grayscaleBeyondContext</key>
	<string>consultativePresenterCoord</string>
	<key>parallelSineValidation</key>
	<string>cubitJobBorder</string>
	<key>previewIncludeSingleton</key>
	<string>semanticsOfVar</string>
	<key>rowAgainstVariable</key>
	<string>enabledDescriptionInteraction</string>
</dict>
</plist>
