<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentSinceProxy</key>
	<string>animationStateSpeed</string>
	<key>boxProxyCount</key>
	<string>difficultPopupType</string>
	<key>commonTabbarIndex</key>
	<string>shaderThroughProcess</string>
	<key>entropyStyleDirection</key>
	<string>asyncDecoratorHue</string>
	<key>immutableScreenHead</key>
	<string>methodCompositePosition</string>
	<key>reactiveAssetFlags</key>
	<string>plateAlongVariable</string>
	<key>reductionByStyle</key>
	<string>radiusScopeLocation</string>
	<key>sliderViaAction</key>
	<string>injectionWorkKind</string>
</dict>
</plist>
