<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintVariableAppearance</key>
	<string>methodIncludeStyle</string>
	<key>entityLevelName</key>
	<string>fusedMemberCoord</string>
	<key>ignoredSliderTag</key>
	<string>temporaryClipperDelay</string>
	<key>missionMementoPadding</key>
	<string>tableFormTension</string>
	<key>multiplicationThroughAdapter</key>
	<string>originalConfigurationBottom</string>
	<key>pinchableShaderFlags</key>
	<string>convolutionByActivity</string>
	<key>richtextJobTail</key>
	<string>themeOperationIndex</string>
	<key>scrollCompositeSize</key>
	<string>sessionWorkFeedback</string>
	<key>sessionAgainstForm</key>
	<string>standaloneAspectratioTail</string>
	<key>sizeOfTask</key>
	<string>completionForProxy</string>
</dict>
</plist>
