<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocProcessScale</key>
	<string>relationalTextDirection</string>
	<key>mediaqueryPlatformCount</key>
	<string>plateOperationShade</string>
	<key>sharedChartResponse</key>
	<string>streamSinceForm</string>
	<key>subpixelPhaseStatus</key>
	<string>animatedConvolutionForce</string>
</dict>
</plist>
