<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticMediatorShape</key>
	<string>hashMementoSaturation</string>
	<key>batchByTask</key>
	<string>documentEnvironmentScale</string>
	<key>concreteTransformerIndex</key>
	<string>variantOutsideStructure</string>
	<key>currentCaptionTransparency</key>
	<string>mediocreVariantRight</string>
	<key>layoutModeVelocity</key>
	<string>completerFromStyle</string>
	<key>lostAsyncValidation</key>
	<string>accordionTouchBottom</string>
	<key>optionParameterTension</key>
	<string>resourceLikeMediator</string>
	<key>resolverIncludeValue</key>
	<string>denseGradientDensity</string>
	<key>resultSystemFormat</key>
	<string>significantTabviewVisibility</string>
	<key>rowVersusComposite</key>
	<string>dependencyModeDuration</string>
</dict>
</plist>
