<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAroundVisitor</key>
	<string>semanticStepVisible</string>
	<key>bitrateAgainstObserver</key>
	<string>missionBeyondPhase</string>
	<key>delegateAlongObserver</key>
	<string>futurePatternVelocity</string>
	<key>mediocreTabbarShape</key>
	<string>robustAxisCoord</string>
	<key>observerScopeTop</key>
	<string>reducerSingletonOrigin</string>
</dict>
</plist>
