<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritedProtocolInset</key>
	<string>rowLikeWork</string>
	<key>particleDuringDecorator</key>
	<string>providerParameterValidation</string>
	<key>queueExceptMethod</key>
	<string>originalPlaybackStatus</string>
	<key>rectAboutStage</key>
	<string>mediaqueryValueBrightness</string>
	<key>referenceStrategyMode</key>
	<string>queueAwayMemento</string>
	<key>timerLikeParam</key>
	<string>nextHashRotation</string>
	<key>viewDuringInterpreter</key>
	<string>stackPlatformTag</string>
</dict>
</plist>
