<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianResultVisible</key>
	<string>standaloneResourceColor</string>
	<key>framePlatformKind</key>
	<string>viewVersusEnvironment</string>
	<key>modelVersusMemento</key>
	<string>awaitVisitorBehavior</string>
	<key>multiAxisCoord</key>
	<string>rowBesidePrototype</string>
	<key>priorNodeInteraction</key>
	<string>sizedboxPatternVisibility</string>
	<key>tweenDespiteSystem</key>
	<string>materialDependencyAlignment</string>
</dict>
</plist>
