<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionInterpreterAppearance</key>
	<string>bufferVisitorLocation</string>
	<key>associatedNotifierShade</key>
	<string>optionViaStage</string>
	<key>axisAndParameter</key>
	<string>cartesianKernelTransparency</string>
	<key>entityThanChain</key>
	<string>routerIncludeTask</string>
	<key>fixedWidgetCount</key>
	<string>reducerTypePressure</string>
	<key>liteMediaqueryResponse</key>
	<string>pageviewIncludeJob</string>
	<key>singleEffectTag</key>
	<string>isolateInterpreterHue</string>
	<key>synchronousMaterialEdge</key>
	<string>liteAlignmentPadding</string>
</dict>
</plist>
