<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionJobBound</key>
	<string>singleRequestTop</string>
	<key>exponentTempleContrast</key>
	<string>gridviewSinceProcess</string>
	<key>resultUntilContext</key>
	<string>custompaintVisitorCount</string>
	<key>richtextStrategySkewx</key>
	<string>builderValueDelay</string>
	<key>segmentFrameworkKind</key>
	<string>iterativeOptimizerStyle</string>
	<key>taskCommandRate</key>
	<string>sortedTopicMargin</string>
	<key>themeAdapterOrigin</key>
	<string>textActivityInteraction</string>
	<key>threadWithMediator</key>
	<string>tabbarValueForce</string>
</dict>
</plist>
