<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pageviewNumberInterval</key>
	<string>denseCompleterDepth</string>
	<key>plateBridgeDensity</key>
	<string>menuCycleLeft</string>
	<key>stampOrActivity</key>
	<string>largeChannelCenter</string>
	<key>tensorBuilderShape</key>
	<string>associatedModalTint</string>
</dict>
</plist>
