<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticPositionDepth</key>
	<string>cubitAsJob</string>
	<key>hardEntityName</key>
	<string>otherNavigatorForce</string>
	<key>threadFromValue</key>
	<string>sinkFlyweightTail</string>
</dict>
</plist>
