<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>relationalLabelRight</key>
	<string>multiplicationAndForm</string>
	<key>requiredChapterStyle</key>
	<string>permanentAspectPadding</string>
	<key>symmetricExceptionCoord</key>
	<string>disabledControllerFrequency</string>
</dict>
</plist>
