<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalToolDensity</key>
	<string>cursorThanState</string>
	<key>eagerBuilderDelay</key>
	<string>scaffoldUntilInterpreter</string>
	<key>firstInteractorInterval</key>
	<string>gridviewTaskDirection</string>
	<key>offsetCommandOpacity</key>
	<string>certificateDecoratorMode</string>
	<key>singletonSinceDecorator</key>
	<string>menuContainTask</string>
	<key>widgetThroughKind</key>
	<string>drawerAboutStructure</string>
</dict>
</plist>
