<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushThanFlyweight</key>
	<string>monsterLayerStatus</string>
	<key>composableSessionValidation</key>
	<string>subtleAnimatedcontainerTail</string>
	<key>drawerContextMomentum</key>
	<string>buttonOutsideWork</string>
	<key>gemThanMode</key>
	<string>temporaryRepositoryScale</string>
	<key>resilientResolverFrequency</key>
	<string>synchronousEventBorder</string>
	<key>textShapeAcceleration</key>
	<string>normalCapacitiesFormat</string>
</dict>
</plist>
