<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iconTypeVelocity</key>
	<string>liteOperationBound</string>
	<key>lossBridgeCoord</key>
	<string>aspectratioAwayPhase</string>
	<key>offsetWithoutShape</key>
	<string>taskNearAction</string>
	<key>publicManagerOrigin</key>
	<string>parallelLogPosition</string>
</dict>
</plist>
