<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorBufferVelocity</key>
	<string>precisionWorkTail</string>
	<key>finalPromiseHead</key>
	<string>presenterContextMode</string>
	<key>optimizerWithoutParameter</key>
	<string>rectScopeBehavior</string>
	<key>smallGemAppearance</key>
	<string>logFromActivity</string>
	<key>smartManagerAppearance</key>
	<string>boxAsLevel</string>
	<key>titleMementoVisibility</key>
	<string>checklistFormOrientation</string>
	<key>uniqueRequestLeft</key>
	<string>featureChainStyle</string>
</dict>
</plist>
