<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardProcessTheme</key>
	<string>notificationStateFrequency</string>
	<key>priorityTaskSpeed</key>
	<string>sceneContainWork</string>
	<key>radiusProcessTheme</key>
	<string>largeReductionEdge</string>
	<key>symbolBeyondObserver</key>
	<string>localizationIncludeTask</string>
	<key>taskParameterMode</key>
	<string>sizedboxExceptWork</string>
	<key>usageIncludeEnvironment</key>
	<string>characterActionRight</string>
</dict>
</plist>
