<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelNearTier</key>
	<string>normalHeapPosition</string>
	<key>explicitCurveState</key>
	<string>subsequentDependencyShape</string>
	<key>gestureVisitorCoord</key>
	<string>sineWithContext</string>
	<key>observerPlatformKind</key>
	<string>positionLikeStructure</string>
	<key>permanentExponentTag</key>
	<string>numericalAnimationDirection</string>
	<key>popupVariableHead</key>
	<string>criticalPaddingShape</string>
	<key>queueProcessCoord</key>
	<string>pivotalConstraintState</string>
	<key>reducerFormScale</key>
	<string>catalystSinceSystem</string>
	<key>repositoryThroughOperation</key>
	<string>resultAdapterFlags</string>
	<key>tweenAroundStage</key>
	<string>checkboxProcessRate</string>
</dict>
</plist>
