<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisThroughInterpreter</key>
	<string>documentLevelOpacity</string>
	<key>enabledLayoutVelocity</key>
	<string>disparateActionIndex</string>
	<key>explicitSinkDirection</key>
	<string>coordinatorForDecorator</string>
	<key>parallelQueueSkewx</key>
	<string>tensorCurvePadding</string>
	<key>sinkValueRotation</key>
	<string>eventNearVariable</string>
	<key>slashIncludeVar</key>
	<string>sustainableCoordinatorOffset</string>
	<key>subpixelUntilScope</key>
	<string>ephemeralAwaitShade</string>
</dict>
</plist>
