<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonStageContrast</key>
	<string>precisionStageDistance</string>
	<key>coordinatorContextPadding</key>
	<string>serviceAboutSingleton</string>
	<key>flexActivityOrientation</key>
	<string>durationThroughLayer</string>
	<key>isolateKindMomentum</key>
	<string>repositoryMethodForce</string>
	<key>menuActivitySkewx</key>
	<string>completerPrototypeSize</string>
	<key>movementBesidePhase</key>
	<string>errorInNumber</string>
	<key>multiplicationAmongSystem</key>
	<string>captionIncludeContext</string>
	<key>optimizerKindScale</key>
	<string>checkboxContextSpacing</string>
	<key>resilientTransformerMomentum</key>
	<string>precisionPerVisitor</string>
</dict>
</plist>
