<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandTaskVisibility</key>
	<string>statelessOperationKind</string>
	<key>declarativeFactorySaturation</key>
	<string>transitionFlyweightFlags</string>
	<key>granularQueueOffset</key>
	<string>chartStrategyContrast</string>
	<key>graphByVariable</key>
	<string>errorAwayComposite</string>
	<key>interfaceFlyweightCoord</key>
	<string>eagerChapterRotation</string>
	<key>monsterOutsideFlyweight</key>
	<string>storageExceptFacade</string>
	<key>staticCosineVisibility</key>
	<string>temporaryTransformerBehavior</string>
</dict>
</plist>
