<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventWithoutDecorator</key>
	<string>optionOrLayer</string>
	<key>interfaceWithoutStage</key>
	<string>denseTransitionStyle</string>
	<key>routeContextTag</key>
	<string>frameContextCoord</string>
	<key>unaryLikeJob</key>
	<string>decorationWithoutForm</string>
</dict>
</plist>
