<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellOrDecorator</key>
	<string>repositorySinceFlyweight</string>
	<key>chartTierAcceleration</key>
	<string>resourcePrototypeState</string>
	<key>concreteEquipmentAppearance</key>
	<string>visibleResponseOffset</string>
	<key>sequentialAlignmentDistance</key>
	<string>transformerFromForm</string>
	<key>skirtBesideFunction</key>
	<string>flexibleLoopStyle</string>
	<key>viewBeyondScope</key>
	<string>typicalEffectBound</string>
</dict>
</plist>
