<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowScopeLeft</key>
	<string>repositoryAtMediator</string>
	<key>dropdownbuttonViaMode</key>
	<string>eventDecoratorShape</string>
	<key>kernelSingletonShade</key>
	<string>vectorPlatformInteraction</string>
	<key>mediaActionOffset</key>
	<string>timerWithoutFunction</string>
	<key>radiusDespiteSystem</key>
	<string>basicTransitionRate</string>
	<key>storageChainDensity</key>
	<string>projectDespiteProcess</string>
	<key>subscriptionAtStyle</key>
	<string>sinkBesideStrategy</string>
	<key>swiftSingletonInteraction</key>
	<string>aspectratioWithState</string>
</dict>
</plist>
