<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAlongSystem</key>
	<string>streamTempleContrast</string>
	<key>compositionalStreamFlags</key>
	<string>topicCycleMode</string>
	<key>convolutionInOperation</key>
	<string>directlyStoreOpacity</string>
	<key>intermediateViewOpacity</key>
	<string>tabbarTierScale</string>
	<key>layoutPatternVelocity</key>
	<string>hashDuringTier</string>
	<key>mediocreServiceOffset</key>
	<string>promiseForProxy</string>
	<key>nibSystemResponse</key>
	<string>accessibleTransitionKind</string>
	<key>publicDecorationPressure</key>
	<string>frameFromKind</string>
	<key>segueAtStructure</key>
	<string>synchronousGesturedetectorLeft</string>
	<key>specifyHeapTop</key>
	<string>zoneAroundActivity</string>
</dict>
</plist>
