<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerCollectionTop</key>
	<string>presenterChainTail</string>
	<key>cardInMemento</key>
	<string>multiVectorRate</string>
	<key>controllerAdapterSkewy</key>
	<string>sinkByMediator</string>
	<key>difficultEqualizationFlags</key>
	<string>concurrentAsyncInset</string>
	<key>explicitStreamOpacity</key>
	<string>segmentAlongAdapter</string>
	<key>immutablePromiseTop</key>
	<string>boxStructureCount</string>
	<key>localizationFormLocation</key>
	<string>momentumFromNumber</string>
	<key>responseExceptCommand</key>
	<string>iconAmongStyle</string>
	<key>smartSliderVisibility</key>
	<string>handlerFromVisitor</string>
</dict>
</plist>
