<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalAxisInteraction</key>
	<string>histogramCommandColor</string>
	<key>imageTierVisibility</key>
	<string>certificateThanNumber</string>
	<key>specifyEquipmentInteraction</key>
	<string>appbarBridgeShape</string>
</dict>
</plist>
