<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalExceptionMode</key>
	<string>oldSubscriptionTint</string>
	<key>fixedGroupAcceleration</key>
	<string>displayableRowRotation</string>
	<key>nextUnaryShape</key>
	<string>unactivatedAnimationSpeed</string>
	<key>reducerFacadeSkewy</key>
	<string>toolPlatformHue</string>
	<key>streamModeEdge</key>
	<string>tensorArithmeticName</string>
	<key>unactivatedNavigatorRotation</key>
	<string>adaptiveButtonLeft</string>
	<key>utilFunctionDelay</key>
	<string>composableExceptionStatus</string>
</dict>
</plist>
