<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetObserverTail</key>
	<string>signatureParamRate</string>
	<key>callbackLayerResponse</key>
	<string>navigatorStageLeft</string>
	<key>difficultOverlayOffset</key>
	<string>dedicatedCycleTransparency</string>
	<key>effectShapeDelay</key>
	<string>synchronousBuilderLocation</string>
	<key>imperativeOptimizerAppearance</key>
	<string>asyncEnvironmentInset</string>
	<key>integerInsideContext</key>
	<string>imageFrameworkVisible</string>
	<key>lastConstraintInset</key>
	<string>drawerForPrototype</string>
	<key>notifierUntilActivity</key>
	<string>durationAwayWork</string>
	<key>transitionFromLayer</key>
	<string>localizationBridgeSize</string>
</dict>
</plist>
