<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groupContainPrototype</key>
	<string>curveThanEnvironment</string>
	<key>hardSizeSkewy</key>
	<string>animationStrategyRight</string>
	<key>matrixTierBound</key>
	<string>seamlessRouteOrientation</string>
	<key>scaffoldOfStructure</key>
	<string>popupAboutOperation</string>
	<key>variantBufferCoord</key>
	<string>disabledGrainShade</string>
</dict>
</plist>
