<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoTechniqueFlags</key>
	<string>originalEffectShape</string>
	<key>captionPerObserver</key>
	<string>requiredMethodFormat</string>
	<key>certificateFacadeBrightness</key>
	<string>sortedZoneKind</string>
	<key>checklistAroundStructure</key>
	<string>rectAwayActivity</string>
	<key>directlyChartValidation</key>
	<string>protocolLikeInterpreter</string>
	<key>getxPrototypeSpeed</key>
	<string>controllerInsideShape</string>
	<key>mainIntensityColor</key>
	<string>descriptionContextScale</string>
	<key>opaqueMobileResponse</key>
	<string>bitrateOperationIndex</string>
	<key>resourceScopeFlags</key>
	<string>actionDecoratorCoord</string>
	<key>sceneOperationState</key>
	<string>intuitiveBinarySpacing</string>
</dict>
</plist>
