<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocActivityPosition</key>
	<string>persistentFlexFormat</string>
	<key>constraintBridgeAcceleration</key>
	<string>positionedJobOpacity</string>
	<key>deferredRepositoryEdge</key>
	<string>resilientProjectionSize</string>
	<key>delicateCoordinatorTheme</key>
	<string>loopOperationVelocity</string>
	<key>delicateFactoryForce</key>
	<string>dependencyLikeForm</string>
	<key>dialogsInsideTask</key>
	<string>cardStateRight</string>
	<key>gridviewPlatformSkewx</key>
	<string>subscriptionByParameter</string>
	<key>operationShapeSaturation</key>
	<string>graphicValueSpeed</string>
	<key>playbackPhaseScale</key>
	<string>cartesianTernaryShade</string>
	<key>streamByChain</key>
	<string>reactiveMemberInset</string>
</dict>
</plist>
