<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisThroughChain</key>
	<string>utilFrameworkOrigin</string>
	<key>concreteApertureStyle</key>
	<string>tensorSizeTint</string>
	<key>directPositionCoord</key>
	<string>signThanOperation</string>
	<key>graphPhaseShape</key>
	<string>gramAtObserver</string>
	<key>inactiveSceneCenter</key>
	<string>cubitThroughChain</string>
	<key>logCompositeInterval</key>
	<string>vectorActionRight</string>
	<key>normalAsyncName</key>
	<string>animatedEffectSkewy</string>
	<key>prismaticSwitchInteraction</key>
	<string>graphStructureOpacity</string>
	<key>stateProxyFlags</key>
	<string>currentDependencyState</string>
</dict>
</plist>
