<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAdapterKind</key>
	<string>statefulAssetName</string>
	<key>logVisitorValidation</key>
	<string>nibStatePosition</string>
	<key>substantialMediaType</key>
	<string>storeDuringValue</string>
	<key>timerScopeInteraction</key>
	<string>progressbarInsideVisitor</string>
	<key>unaryLikeVar</key>
	<string>isolateStrategyPadding</string>
</dict>
</plist>
