<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticNearSingleton</key>
	<string>spineThanStage</string>
	<key>easyStateVisible</key>
	<string>discardedChartRate</string>
	<key>modalModeStatus</key>
	<string>ephemeralReductionFeedback</string>
	<key>notifierObserverVelocity</key>
	<string>intuitiveStepTransparency</string>
	<key>offsetBridgeRate</key>
	<string>asynchronousRectScale</string>
	<key>queryStrategyResponse</key>
	<string>activatedActivityBound</string>
	<key>segmentDuringBuffer</key>
	<string>captionDuringMediator</string>
	<key>subsequentGesturedetectorTint</key>
	<string>listenerAgainstParameter</string>
</dict>
</plist>
