<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocObserverName</key>
	<string>managerStyleInterval</string>
	<key>buttonInsideStage</key>
	<string>sustainableResourceTransparency</string>
	<key>cacheByStyle</key>
	<string>appbarAroundPattern</string>
	<key>challengeOfFacade</key>
	<string>granularExceptionLeft</string>
	<key>labelNearTemple</key>
	<string>observerKindInset</string>
	<key>liteTweenResponse</key>
	<string>adaptiveRectFlags</string>
	<key>newestFlexHead</key>
	<string>inkwellInterpreterBottom</string>
	<key>stateShapeValidation</key>
	<string>tabbarAsVar</string>
	<key>uniformResourceDuration</key>
	<string>respectiveCubeDistance</string>
	<key>viewInsideStyle</key>
	<string>activatedTangentShade</string>
</dict>
</plist>
