<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentDuringKind</key>
	<string>intermediateVectorDepth</string>
	<key>constraintOfForm</key>
	<string>switchCompositeInterval</string>
	<key>controllerNearChain</key>
	<string>cubeEnvironmentTop</string>
	<key>eventSystemContrast</key>
	<string>spotDespiteMethod</string>
	<key>futureWithInterpreter</key>
	<string>semanticAlphaOpacity</string>
	<key>keyViewDepth</key>
	<string>richtextSystemName</string>
	<key>observerAsPrototype</key>
	<string>containerSinceStrategy</string>
	<key>taskStageMode</key>
	<string>resourceOrInterpreter</string>
	<key>viewExceptSingleton</key>
	<string>columnNumberSpeed</string>
</dict>
</plist>
