<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorCycleBound</key>
	<string>textureVisitorOpacity</string>
	<key>eventPerPlatform</key>
	<string>utilAgainstPhase</string>
	<key>firstProfileDelay</key>
	<string>graphicScopeTag</string>
	<key>materialLikeTier</key>
	<string>delegateAsStructure</string>
	<key>sliderWorkTint</key>
	<string>sortedQueryInset</string>
	<key>swiftTierVisibility</key>
	<string>missionFromShape</string>
</dict>
</plist>
