<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionWithVariable</key>
	<string>mediumProviderScale</string>
	<key>consumerThanLevel</key>
	<string>nextRectOffset</string>
	<key>inactiveAwaitAlignment</key>
	<string>cursorPhaseMomentum</string>
	<key>protocolVariableIndex</key>
	<string>retainedPositionTint</string>
	<key>radiusWorkDistance</key>
	<string>toolLikeFramework</string>
</dict>
</plist>
