<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveVariantCenter</key>
	<string>transitionFormTop</string>
	<key>durationStrategyShape</key>
	<string>precisionNumberSkewy</string>
	<key>hierarchicalIntensityCenter</key>
	<string>serviceOfLayer</string>
	<key>permissiveExpandedAlignment</key>
	<string>semanticsExceptStructure</string>
	<key>semanticFrameResponse</key>
	<string>roleObserverShape</string>
</dict>
</plist>
