<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAsParameter</key>
	<string>specifyPainterColor</string>
	<key>capacitiesParamCenter</key>
	<string>builderEnvironmentInset</string>
	<key>grainVariableBrightness</key>
	<string>stepJobTint</string>
	<key>pivotalStreamValidation</key>
	<string>crucialRowInset</string>
	<key>presenterOrParameter</key>
	<string>subtleCubitDensity</string>
	<key>subsequentCubitMomentum</key>
	<string>configurationLayerForce</string>
	<key>subtleMarginDirection</key>
	<string>listenerContainEnvironment</string>
	<key>textSystemDensity</key>
	<string>adaptiveOffsetKind</string>
	<key>tweenFunctionAlignment</key>
	<string>hyperbolicContractionCoord</string>
	<key>tweenIncludeNumber</key>
	<string>pivotalSampleTheme</string>
</dict>
</plist>
