<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralOffsetCoord</key>
	<string>lastGraphTheme</string>
	<key>labelAboutProcess</key>
	<string>secondStoreInteraction</string>
	<key>lossByNumber</key>
	<string>webRadiusTheme</string>
	<key>persistentHistogramState</key>
	<string>handlerBeyondJob</string>
	<key>statefulAdapterCenter</key>
	<string>eventInsideFunction</string>
	<key>staticStackTransparency</key>
	<string>spriteThanEnvironment</string>
	<key>swiftThroughFlyweight</key>
	<string>delegateLikeInterpreter</string>
</dict>
</plist>
