<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlySpotVelocity</key>
	<string>robustClipperInterval</string>
	<key>durationActionCoord</key>
	<string>visibleThemeIndex</string>
	<key>optimizerDespiteInterpreter</key>
	<string>documentFormInteraction</string>
	<key>semanticRoleOffset</key>
	<string>widgetTypeLeft</string>
</dict>
</plist>
