<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationPerEnvironment</key>
	<string>variantDespiteKind</string>
	<key>directCursorTop</key>
	<string>asyncGraphicDirection</string>
	<key>disabledLoopState</key>
	<string>pivotalIntensityFrequency</string>
	<key>effectObserverStyle</key>
	<string>pointAtComposite</string>
	<key>firstDrawerMomentum</key>
	<string>actionAroundStage</string>
	<key>navigatorInProcess</key>
	<string>sortedMapPosition</string>
	<key>resolverJobDelay</key>
	<string>easySineIndex</string>
</dict>
</plist>
