<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryDecoratorTag</key>
	<string>nativeSpriteOpacity</string>
	<key>animatedTaskBehavior</key>
	<string>positionedInComposite</string>
	<key>beginnerZoneEdge</key>
	<string>referenceVisitorMomentum</string>
	<key>channelTaskVisible</key>
	<string>checkboxViaWork</string>
	<key>directCubitAlignment</key>
	<string>effectAdapterHead</string>
	<key>finalDependencySpacing</key>
	<string>activatedAnimationShade</string>
	<key>handlerMethodBottom</key>
	<string>memberCycleSize</string>
	<key>imperativeMobileOrientation</key>
	<string>associatedStateVisible</string>
	<key>nativeSessionMode</key>
	<string>overlayVarBound</string>
	<key>permanentOptimizerContrast</key>
	<string>blocFormBound</string>
</dict>
</plist>
