<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterOrState</key>
	<string>pinchableRouteContrast</string>
	<key>cubitFunctionResponse</key>
	<string>symmetricTextureInset</string>
	<key>navigationActionRate</key>
	<string>roleBridgeTail</string>
	<key>synchronousServiceCoord</key>
	<string>sineOperationStatus</string>
</dict>
</plist>
