<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerZoneState</key>
	<string>variantVersusCycle</string>
	<key>gradientOrScope</key>
	<string>durationWithoutStage</string>
	<key>normProxyDelay</key>
	<string>assetLevelDepth</string>
	<key>providerStageVisible</key>
	<string>durationAmongCycle</string>
	<key>radiusAgainstMediator</key>
	<string>promiseAmongPrototype</string>
	<key>routerActionRotation</key>
	<string>missedContainerMode</string>
	<key>sizeOperationSkewy</key>
	<string>managerChainMode</string>
	<key>spriteParameterMode</key>
	<string>localThreadRate</string>
	<key>touchParameterVisible</key>
	<string>nibActionBottom</string>
	<key>usecaseVariableCoord</key>
	<string>sizeUntilFlyweight</string>
</dict>
</plist>
