<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioParamLeft</key>
	<string>platePerWork</string>
	<key>bitrateLayerSpacing</key>
	<string>textfieldWithoutProxy</string>
	<key>constraintContainStructure</key>
	<string>scrollableParticleDistance</string>
	<key>handlerLayerTop</key>
	<string>fusedActivityCoord</string>
	<key>keyHeroAlignment</key>
	<string>concreteInstructionFrequency</string>
	<key>priorityPerVariable</key>
	<string>momentumDespiteForm</string>
	<key>radioSinceValue</key>
	<string>repositoryModeAppearance</string>
</dict>
</plist>
