<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateMementoInset</key>
	<string>matrixAsFacade</string>
	<key>errorStageColor</key>
	<string>exponentLikePrototype</string>
	<key>globalExpandedBrightness</key>
	<string>skinAwayPhase</string>
	<key>hierarchicalPromiseSkewx</key>
	<string>containerVisitorAlignment</string>
</dict>
</plist>
