<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorVariableRotation</key>
	<string>labelOperationRate</string>
	<key>dimensionContextHead</key>
	<string>denseSizedboxVelocity</string>
	<key>disparateManagerAlignment</key>
	<string>discardedCaptionEdge</string>
	<key>inactiveThemeAcceleration</key>
	<string>enabledNodeType</string>
	<key>projectionChainShade</key>
	<string>semanticGestureTransparency</string>
	<key>protectedRichtextResponse</key>
	<string>reducerKindDirection</string>
	<key>segueThanType</key>
	<string>resultChainTransparency</string>
	<key>themeJobContrast</key>
	<string>sensorSinceFunction</string>
	<key>utilBesideVisitor</key>
	<string>resolverDespiteVisitor</string>
</dict>
</plist>
