<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioPrototypeShade</key>
	<string>managerNearOperation</string>
	<key>asynchronousAwaitScale</key>
	<string>positionOutsideDecorator</string>
	<key>effectWorkOrigin</key>
	<string>mutableSwiftAppearance</string>
	<key>expandedObserverPosition</key>
	<string>adaptiveUtilType</string>
	<key>sceneViaFacade</key>
	<string>listviewAlongLevel</string>
	<key>statelessErrorCoord</key>
	<string>reductionThanProxy</string>
	<key>tensorListenerDistance</key>
	<string>tappableCatalystShade</string>
</dict>
</plist>
