<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerForDecorator</key>
	<string>actionForParam</string>
	<key>descriptionThroughBuffer</key>
	<string>backwardSineSpeed</string>
	<key>mediocreSampleTension</key>
	<string>stateVersusCycle</string>
</dict>
</plist>
