<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveNotifierTheme</key>
	<string>requiredReducerMode</string>
	<key>comprehensiveHashTail</key>
	<string>backwardIntensityDirection</string>
	<key>containerSystemSkewx</key>
	<string>routeOfStrategy</string>
	<key>cupertinoMaterialColor</key>
	<string>titleAsPhase</string>
	<key>euclideanFragmentRight</key>
	<string>previewDecoratorSkewy</string>
	<key>permanentChannelTail</key>
	<string>sceneFrameworkSaturation</string>
	<key>queueOutsidePattern</key>
	<string>newestMusicFormat</string>
	<key>sophisticatedCompleterTension</key>
	<string>transitionLevelLocation</string>
</dict>
</plist>
