<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalErrorDistance</key>
	<string>storageBesideCommand</string>
	<key>getxProxySpeed</key>
	<string>sineAmongFlyweight</string>
	<key>imperativeCommandFlags</key>
	<string>concurrentSpecifierBottom</string>
	<key>mediocrePromiseFlags</key>
	<string>commandFromProxy</string>
	<key>spriteValueKind</key>
	<string>sceneVersusInterpreter</string>
</dict>
</plist>
