<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAroundJob</key>
	<string>arithmeticVersusValue</string>
	<key>baselineOperationHead</key>
	<string>mediaqueryUntilType</string>
	<key>checklistAboutBuffer</key>
	<string>greatBoxshadowLeft</string>
	<key>crucialSensorTag</key>
	<string>apertureFunctionDuration</string>
	<key>delicateAlphaTop</key>
	<string>completerAgainstStructure</string>
	<key>expandedModeLeft</key>
	<string>futureJobFormat</string>
	<key>lazyAnimatedcontainerAlignment</key>
	<string>singleNodeOrigin</string>
	<key>positionTaskSkewy</key>
	<string>themeParamEdge</string>
	<key>providerFacadeAlignment</key>
	<string>resourceShapeValidation</string>
</dict>
</plist>
