<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewThanShape</key>
	<string>streamBufferCount</string>
	<key>handlerStructurePadding</key>
	<string>uniqueSpriteInset</string>
	<key>sineFormCoord</key>
	<string>previewNearKind</string>
	<key>statefulLayerLocation</key>
	<string>streamBridgeTheme</string>
	<key>titleStageSaturation</key>
	<string>statelessTypeVisible</string>
</dict>
</plist>
