<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedTransitionShape</key>
	<string>builderMediatorRight</string>
	<key>hyperbolicIconAlignment</key>
	<string>eventAlongPhase</string>
	<key>layoutModeTransparency</key>
	<string>accessoryExceptObserver</string>
	<key>mediocreDelegateSaturation</key>
	<string>delegateLevelRotation</string>
	<key>observerActionCount</key>
	<string>directChallengeLocation</string>
	<key>prevExponentPosition</key>
	<string>taskAsMode</string>
	<key>resultAboutMode</key>
	<string>pinchableTimerFeedback</string>
</dict>
</plist>
