<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleEventFormat</key>
	<string>lossOperationScale</string>
	<key>bulletVisitorPosition</key>
	<string>backwardCallbackSize</string>
	<key>coordinatorExceptSystem</key>
	<string>buttonActionKind</string>
	<key>delegateOutsideActivity</key>
	<string>streamPerProcess</string>
	<key>gesturedetectorStateMode</key>
	<string>sliderSincePrototype</string>
	<key>lazyFutureShade</key>
	<string>injectionTierDelay</string>
	<key>menuParameterHue</key>
	<string>coordinatorInType</string>
	<key>semanticsAtComposite</key>
	<string>routerPerProcess</string>
	<key>similarRadiusBound</key>
	<string>keyViewType</string>
	<key>smallControllerName</key>
	<string>commandParameterSpacing</string>
</dict>
</plist>
