<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesExceptEnvironment</key>
	<string>sensorPerKind</string>
	<key>customScaffoldContrast</key>
	<string>builderFacadeDelay</string>
	<key>delicateBaseInteraction</key>
	<string>explicitSpriteCenter</string>
	<key>dependencyAmongStage</key>
	<string>observerShapeHead</string>
	<key>disabledSizedboxTop</key>
	<string>constraintOrScope</string>
	<key>easyIconScale</key>
	<string>axisMediatorMomentum</string>
	<key>featureCommandMode</key>
	<string>collectionChainBrightness</string>
	<key>gesturedetectorWithoutPattern</key>
	<string>blocOperationVisible</string>
	<key>materialValuePadding</key>
	<string>sizedboxSystemLocation</string>
	<key>vectorParameterDepth</key>
	<string>priorSkirtState</string>
</dict>
</plist>
