<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivePopupAlignment</key>
	<string>reducerPrototypeVisible</string>
	<key>layerViaAction</key>
	<string>relationalOperationPadding</string>
	<key>notifierBesideParameter</key>
	<string>signDuringEnvironment</string>
	<key>servicePhaseDirection</key>
	<string>mobxSingletonTop</string>
	<key>sharedMetadataTail</key>
	<string>roleLikeMediator</string>
	<key>usageLayerFormat</key>
	<string>protectedRadioPressure</string>
</dict>
</plist>
