<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationVersusContext</key>
	<string>multiplicationByMediator</string>
	<key>characterKindKind</key>
	<string>convolutionPerPrototype</string>
	<key>customizedDelegateSpacing</key>
	<string>graphParameterPosition</string>
	<key>functionalMenuLeft</key>
	<string>vectorActionTension</string>
	<key>persistentGetxOffset</key>
	<string>masterThanBuffer</string>
	<key>priorPresenterScale</key>
	<string>metadataTierName</string>
	<key>resolverProcessInset</key>
	<string>giftCommandSkewy</string>
	<key>resourceLevelOrientation</key>
	<string>lastCallbackDepth</string>
</dict>
</plist>
