<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationVersusActivity</key>
	<string>masterNearSystem</string>
	<key>behaviorFunctionShape</key>
	<string>criticalGraphScale</string>
	<key>desktopGridAppearance</key>
	<string>delicateAlertFormat</string>
	<key>discardedConvolutionFeedback</key>
	<string>cardFlyweightIndex</string>
	<key>iconStructurePadding</key>
	<string>unaryDespiteShape</string>
	<key>mediumAspectSize</key>
	<string>publicSubpixelKind</string>
	<key>notificationUntilProcess</key>
	<string>originalNavigatorScale</string>
	<key>queryActionFormat</key>
	<string>baseFacadeDistance</string>
	<key>singletonExceptType</key>
	<string>specifierContextColor</string>
	<key>swiftMethodBottom</key>
	<string>progressbarWithoutKind</string>
</dict>
</plist>
