<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionNormSpeed</key>
	<string>resolverOperationTension</string>
	<key>arithmeticExceptDecorator</key>
	<string>keyPromiseAppearance</string>
	<key>asynchronousPlateRotation</key>
	<string>exponentVarRight</string>
	<key>lastCapacitiesBottom</key>
	<string>commonCurveTint</string>
	<key>observerAgainstProcess</key>
	<string>awaitInForm</string>
</dict>
</plist>
