<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredResponseBehavior</key>
	<string>displayableNavigatorCenter</string>
	<key>gridPrototypeTop</key>
	<string>asyncDurationShade</string>
	<key>interfaceContainStyle</key>
	<string>buttonAdapterResponse</string>
	<key>painterObserverBottom</key>
	<string>containerAdapterTail</string>
	<key>permanentRichtextRotation</key>
	<string>pointTempleLeft</string>
	<key>responseOperationTop</key>
	<string>logarithmProcessPosition</string>
	<key>themeThanVar</key>
	<string>basicToolKind</string>
</dict>
</plist>
