<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedTransformerTheme</key>
	<string>ephemeralCubitStatus</string>
	<key>equalizationFlyweightRotation</key>
	<string>smallMatrixAlignment</string>
	<key>logAdapterFrequency</key>
	<string>kernelAboutFlyweight</string>
	<key>queryProxyIndex</key>
	<string>entityProcessSkewy</string>
	<key>symmetricStoreFrequency</key>
	<string>certificateParameterTail</string>
</dict>
</plist>
