<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicSpineInterval</key>
	<string>spineDecoratorPosition</string>
	<key>effectOutsideForm</key>
	<string>rowKindTail</string>
	<key>mediaFunctionSpacing</key>
	<string>inactiveUtilColor</string>
	<key>navigatorAtType</key>
	<string>symbolViaValue</string>
	<key>profileAgainstLayer</key>
	<string>delegateOperationFormat</string>
	<key>relationalProviderBehavior</key>
	<string>navigatorAlongPattern</string>
	<key>scaffoldFrameworkBottom</key>
	<string>euclideanAssetTag</string>
	<key>sineStateTail</key>
	<string>curveViaWork</string>
	<key>subsequentDecorationDelay</key>
	<string>retainedCharacterName</string>
	<key>symmetricContractionScale</key>
	<string>giftChainCenter</string>
</dict>
</plist>
