<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFrameworkPadding</key>
	<string>interfaceExceptMediator</string>
	<key>descriptionAboutTask</key>
	<string>activatedReferenceOffset</string>
	<key>exponentInterpreterAlignment</key>
	<string>opaqueQueueVisibility</string>
	<key>graphAmongStructure</key>
	<string>brushOrAdapter</string>
	<key>heapLayerRight</key>
	<string>customizedMomentumState</string>
	<key>materialCupertinoCoord</key>
	<string>capacitiesContextCenter</string>
	<key>sizeAlongMode</key>
	<string>petByInterpreter</string>
	<key>statefulGroupTransparency</key>
	<string>agileDimensionTheme</string>
</dict>
</plist>
