<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowInsideState</key>
	<string>notifierThanAdapter</string>
	<key>capacitiesInterpreterDistance</key>
	<string>mediaSinceActivity</string>
	<key>dimensionIncludeOperation</key>
	<string>sceneOfTemple</string>
	<key>nextRouterDuration</key>
	<string>capacitiesAdapterHue</string>
	<key>retainedBoxTransparency</key>
	<string>cartesianApertureInteraction</string>
	<key>secondZoneHead</key>
	<string>similarInkwellTint</string>
</dict>
</plist>
