<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveFlyweightTransparency</key>
	<string>pinchableCapacitiesTail</string>
	<key>durationTaskAcceleration</key>
	<string>relationalSegueShape</string>
	<key>fusedDescriptorVisibility</key>
	<string>advancedGridLocation</string>
	<key>intuitiveQueueIndex</key>
	<string>concurrentLabelType</string>
	<key>lossContainPhase</key>
	<string>adaptiveTernaryMode</string>
	<key>pivotalRadiusForce</key>
	<string>touchDespiteSingleton</string>
	<key>tickerAlongMode</key>
	<string>unsortedIntensityTransparency</string>
</dict>
</plist>
