<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menuWithNumber</key>
	<string>labelUntilObserver</string>
	<key>normTempleOrientation</key>
	<string>resourceLikePrototype</string>
	<key>shaderOutsideKind</key>
	<string>discardedVectorSaturation</string>
	<key>textObserverTail</key>
	<string>resourceVisitorEdge</string>
</dict>
</plist>
