<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activePositionedSkewx</key>
	<string>binarySystemVisible</string>
	<key>alignmentAsAdapter</key>
	<string>tappableDurationVelocity</string>
	<key>buttonAwayVariable</key>
	<string>basicPositionedInset</string>
	<key>cubitLayerBound</key>
	<string>behaviorVarBehavior</string>
	<key>elasticChannelSkewy</key>
	<string>agileChannelType</string>
	<key>equalizationOrChain</key>
	<string>resizableMasterPadding</string>
	<key>inactiveWorkflowTransparency</key>
	<string>signatureWorkCenter</string>
	<key>interpolationViaJob</key>
	<string>asyncThanWork</string>
	<key>semanticQueueMargin</key>
	<string>documentWithoutActivity</string>
</dict>
</plist>
