<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseCommandBottom</key>
	<string>compositionValueVisible</string>
	<key>collectionOfMode</key>
	<string>binaryAmongKind</string>
	<key>descriptorFormBrightness</key>
	<string>tensorGraphicDirection</string>
	<key>exponentDespiteOperation</key>
	<string>nibWorkMargin</string>
	<key>layerNearStructure</key>
	<string>activatedAnimationRight</string>
	<key>musicWithTier</key>
	<string>workflowAsKind</string>
	<key>nodePerAdapter</key>
	<string>alignmentObserverFlags</string>
	<key>sampleAroundMediator</key>
	<string>uniformSizeMomentum</string>
</dict>
</plist>
