<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionStageStyle</key>
	<string>resultOutsideComposite</string>
	<key>delegateAroundParameter</key>
	<string>cellContextInterval</string>
	<key>featureContainNumber</key>
	<string>granularDescriptionVelocity</string>
	<key>oldMaterialScale</key>
	<string>interfaceAgainstPhase</string>
	<key>providerLayerHead</key>
	<string>draggableButtonMode</string>
	<key>publicPromiseCenter</key>
	<string>projectFunctionTension</string>
	<key>subtleQueryDistance</key>
	<string>retainedPreviewBound</string>
</dict>
</plist>
