<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonStateIndex</key>
	<string>ephemeralMapPressure</string>
	<key>commonRoleVisible</key>
	<string>managerWithoutInterpreter</string>
	<key>easyBlocName</key>
	<string>skirtOutsideStrategy</string>
	<key>explicitErrorBottom</key>
	<string>shaderDuringScope</string>
	<key>groupValueSkewx</key>
	<string>textFacadeAppearance</string>
	<key>resolverAdapterDelay</key>
	<string>utilActionState</string>
	<key>routeWithoutDecorator</key>
	<string>subsequentUsecaseSkewx</string>
</dict>
</plist>
