<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellCommandName</key>
	<string>diversifiedTabviewInteraction</string>
	<key>disabledSizedboxBrightness</key>
	<string>heapThanTask</string>
	<key>explicitSemanticsResponse</key>
	<string>nextIntensityBound</string>
	<key>threadCommandFlags</key>
	<string>diffableChallengeAcceleration</string>
	<key>uniqueAlertTransparency</key>
	<string>mediaAboutDecorator</string>
</dict>
</plist>
