<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentActivityPosition</key>
	<string>singleIndicatorMomentum</string>
	<key>boxshadowCommandCenter</key>
	<string>controllerLikeSystem</string>
	<key>chapterBufferInset</key>
	<string>rowCompositeSpeed</string>
	<key>futureAboutCommand</key>
	<string>customizedSpriteFrequency</string>
	<key>pivotalLossCoord</key>
	<string>logarithmPhaseShade</string>
	<key>substantialRichtextSize</key>
	<string>largeRichtextOrigin</string>
	<key>sustainableBlocValidation</key>
	<string>prismaticGrainPosition</string>
	<key>tickerAtLayer</key>
	<string>managerFrameworkCoord</string>
	<key>zoneAmongVar</key>
	<string>newestConstraintName</string>
</dict>
</plist>
