<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowPatternSaturation</key>
	<string>accessoryAdapterOffset</string>
	<key>canvasInLayer</key>
	<string>animatedcontainerProxyInterval</string>
	<key>discardedSignSkewy</key>
	<string>blocParamInset</string>
	<key>disparateModelFlags</key>
	<string>routeOutsideFunction</string>
	<key>expandedOfParameter</key>
	<string>hardCatalystSaturation</string>
	<key>pivotalDurationType</key>
	<string>rapidAnimationMomentum</string>
	<key>singleSessionShade</key>
	<string>radioTierCoord</string>
	<key>synchronousChallengeLeft</key>
	<string>respectiveSpriteCoord</string>
	<key>unsortedMobxInterval</key>
	<string>staticTweenDirection</string>
</dict>
</plist>
