<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticExponentVisibility</key>
	<string>associatedCurveVisible</string>
	<key>consultativeColumnForce</key>
	<string>statelessSceneCenter</string>
	<key>dependencyFromEnvironment</key>
	<string>requestAroundVariable</string>
	<key>lastVariantMode</key>
	<string>channelsCompositeTop</string>
	<key>synchronousQueryHue</key>
	<string>adaptiveCursorVelocity</string>
</dict>
</plist>
