<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationSinceSingleton</key>
	<string>delegateAgainstTemple</string>
	<key>durationWithoutVariable</key>
	<string>nativeParticleVisible</string>
	<key>hyperbolicHeroTag</key>
	<string>mobileAnimationBehavior</string>
	<key>offsetVersusJob</key>
	<string>liteRouteRate</string>
	<key>resultBridgeSkewy</key>
	<string>cubitPrototypeValidation</string>
	<key>viewFromTier</key>
	<string>ephemeralExponentLocation</string>
</dict>
</plist>
