<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionJobAppearance</key>
	<string>actionAmongMode</string>
	<key>sessionAsPattern</key>
	<string>intensityStyleLocation</string>
	<key>techniqueNumberIndex</key>
	<string>subsequentPopupSpeed</string>
</dict>
</plist>
