<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureAroundMediator</key>
	<string>taskEnvironmentVisible</string>
	<key>globalImageBound</key>
	<string>navigatorOperationFormat</string>
	<key>grainPrototypeIndex</key>
	<string>getxPhaseFlags</string>
	<key>iconAgainstTask</key>
	<string>futureAboutProcess</string>
	<key>injectionByObserver</key>
	<string>resultLayerCoord</string>
	<key>mainGiftBound</key>
	<string>geometricGrainResponse</string>
	<key>modalObserverSaturation</key>
	<string>durationParameterMargin</string>
	<key>sliderProcessForce</key>
	<string>intensityParameterForce</string>
	<key>statefulRectRotation</key>
	<string>injectionStyleVisible</string>
	<key>tensorColumnMomentum</key>
	<string>specifyDecorationIndex</string>
</dict>
</plist>
