<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMementoInset</key>
	<string>radiusStructureTheme</string>
	<key>arithmeticLocalizationTag</key>
	<string>graphContainStyle</string>
	<key>certificateProcessSkewy</key>
	<string>mobileUnaryName</string>
	<key>intensityStrategyLocation</key>
	<string>firstConfigurationMode</string>
	<key>listenerVersusEnvironment</key>
	<string>hashAroundPhase</string>
	<key>substantialReductionShade</key>
	<string>mediocreStampStatus</string>
	<key>temporaryTaskDirection</key>
	<string>respectiveAllocatorSpacing</string>
	<key>tickerParameterShade</key>
	<string>equipmentAmongMode</string>
	<key>uniqueButtonStatus</key>
	<string>zoneChainBehavior</string>
</dict>
</plist>
