<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialResourceOffset</key>
	<string>significantChapterDistance</string>
	<key>remainderExceptInterpreter</key>
	<string>layerMementoHue</string>
	<key>retainedSpotDelay</key>
	<string>errorAgainstMemento</string>
	<key>slashViaSystem</key>
	<string>configurationPhaseColor</string>
	<key>viewInsideMethod</key>
	<string>referenceIncludeFunction</string>
</dict>
</plist>
