<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartPhaseTheme</key>
	<string>skinThanProxy</string>
	<key>easySinkDensity</key>
	<string>crucialCompositionFeedback</string>
	<key>interfaceOperationLeft</key>
	<string>keyStateInteraction</string>
	<key>radiusParameterSpeed</key>
	<string>characterAsVisitor</string>
	<key>screenAmongMethod</key>
	<string>variantActivityAcceleration</string>
	<key>topicFacadeBound</key>
	<string>protectedAnimationTop</string>
	<key>viewFrameworkHead</key>
	<string>originalSliderSpeed</string>
</dict>
</plist>
