<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncConstraintState</key>
	<string>statelessAdapterVisibility</string>
	<key>hashKindTheme</key>
	<string>descriptorPrototypeSkewx</string>
	<key>immediateStepBehavior</key>
	<string>offsetStageInteraction</string>
	<key>oldThreadBrightness</key>
	<string>explicitDurationScale</string>
	<key>respectiveRouteBottom</key>
	<string>zoneDespiteScope</string>
	<key>sinkAboutParam</key>
	<string>workflowAtVariable</string>
	<key>smartRouteAcceleration</key>
	<string>modelFlyweightInset</string>
	<key>tensorSizeTension</key>
	<string>anchorInJob</string>
	<key>threadFormSpacing</key>
	<string>providerAndLayer</string>
	<key>titleObserverDistance</key>
	<string>futureFrameworkTail</string>
</dict>
</plist>
