<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureVisitorSpacing</key>
	<string>webAspectShade</string>
	<key>batchKindName</key>
	<string>cupertinoFlyweightBehavior</string>
	<key>bitrateBesideLayer</key>
	<string>dropdownbuttonUntilCommand</string>
	<key>directlyBitrateTail</key>
	<string>dropdownbuttonExceptVar</string>
	<key>graphBeyondBridge</key>
	<string>injectionKindAppearance</string>
	<key>interactorThanVar</key>
	<string>numericalTopicOpacity</string>
	<key>responsiveProviderPosition</key>
	<string>protocolByFunction</string>
	<key>routerAsPhase</key>
	<string>eagerEntropyName</string>
	<key>serviceStageKind</key>
	<string>skirtInsideVar</string>
</dict>
</plist>
