<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioViaPrototype</key>
	<string>dynamicConstraintResponse</string>
	<key>completerVersusLevel</key>
	<string>smallStampHead</string>
	<key>easyUsageRate</key>
	<string>channelsAgainstStyle</string>
	<key>enabledMapCoord</key>
	<string>pinchableRichtextAppearance</string>
	<key>listenerContextContrast</key>
	<string>hyperbolicSinkType</string>
	<key>subsequentCacheTop</key>
	<string>sizedboxAgainstProcess</string>
</dict>
</plist>
