<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterTempleVisible</key>
	<string>managerProxyTag</string>
	<key>cubeTypeShape</key>
	<string>keyPlateInterval</string>
	<key>cupertinoLoopCenter</key>
	<string>layoutOperationCount</string>
	<key>multiplicationTempleEdge</key>
	<string>permanentSubpixelBehavior</string>
	<key>normWithoutEnvironment</key>
	<string>graphVersusParameter</string>
	<key>retainedCollectionOrientation</key>
	<string>transitionAtTask</string>
	<key>riverpodParamOrientation</key>
	<string>granularClipperAcceleration</string>
	<key>topicPhaseDuration</key>
	<string>deferredCoordinatorDirection</string>
</dict>
</plist>
