<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constSpriteDirection</key>
	<string>nodeProcessBottom</string>
	<key>dropdownbuttonViaBridge</key>
	<string>capsuleShapeScale</string>
	<key>heapContainShape</key>
	<string>sampleDecoratorPosition</string>
	<key>intensityAdapterTail</key>
	<string>lazyCoordinatorSkewx</string>
	<key>iterativeEventLocation</key>
	<string>columnActionSaturation</string>
	<key>managerCommandCoord</key>
	<string>reducerDuringStructure</string>
	<key>taskAroundDecorator</key>
	<string>convolutionMethodIndex</string>
	<key>taskTypeBound</key>
	<string>euclideanInterfaceEdge</string>
</dict>
</plist>
