<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxStyleType</key>
	<string>exponentOrJob</string>
	<key>cubeBesideVariable</key>
	<string>interactiveCubitIndex</string>
	<key>euclideanInterpolationDuration</key>
	<string>explicitVariantVelocity</string>
	<key>immutableFeatureTail</key>
	<string>crucialReductionVisible</string>
	<key>methodByAdapter</key>
	<string>synchronousHeroTheme</string>
	<key>providerMementoDistance</key>
	<string>commandThroughDecorator</string>
	<key>publicErrorRate</key>
	<string>smartRectRight</string>
	<key>responseWithoutInterpreter</key>
	<string>hyperbolicGestureDuration</string>
	<key>skinAtLayer</key>
	<string>expandedCommandKind</string>
	<key>unarySingletonPressure</key>
	<string>nodeAtFacade</string>
</dict>
</plist>
