<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedScrollOrientation</key>
	<string>brushEnvironmentTint</string>
	<key>buttonAtBuffer</key>
	<string>protectedMusicState</string>
	<key>memberOutsidePrototype</key>
	<string>sizedboxAgainstFramework</string>
	<key>mutableHeapHue</key>
	<string>overlayPrototypeIndex</string>
	<key>permissiveViewShade</key>
	<string>unactivatedCustompaintFormat</string>
	<key>sustainableLossLocation</key>
	<string>specifyBehaviorCoord</string>
</dict>
</plist>
