<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionInsideBridge</key>
	<string>diversifiedAccessoryDirection</string>
	<key>coordinatorTypeLeft</key>
	<string>lostDurationStyle</string>
	<key>delegateNearTask</key>
	<string>giftSingletonVisible</string>
	<key>nativeFactoryOrientation</key>
	<string>sceneTaskCenter</string>
	<key>navigatorContainType</key>
	<string>navigatorJobAcceleration</string>
	<key>profileWorkLeft</key>
	<string>disabledEventDepth</string>
	<key>subscriptionMethodTint</key>
	<string>factoryStructureInset</string>
</dict>
</plist>
