<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardTabviewFrequency</key>
	<string>builderAsOperation</string>
	<key>brushAlongVar</key>
	<string>resourceInsideParameter</string>
	<key>cubitTempleSkewx</key>
	<string>transformerAtActivity</string>
	<key>cursorStateEdge</key>
	<string>largeInstructionFrequency</string>
	<key>curveValueLocation</key>
	<string>capsuleTempleMomentum</string>
	<key>gemOutsideStyle</key>
	<string>directRouteDelay</string>
	<key>gridAmongVariable</key>
	<string>nextClipperSpeed</string>
	<key>localizationStyleVelocity</key>
	<string>descriptorNumberStyle</string>
	<key>progressbarAlongFacade</key>
	<string>localObserverTint</string>
</dict>
</plist>
