<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveContainInterpreter</key>
	<string>gateValueFlags</string>
	<key>dedicatedResponseDensity</key>
	<string>graphObserverEdge</string>
	<key>queryPhaseColor</key>
	<string>staticBuilderBorder</string>
	<key>tweenAndCommand</key>
	<string>awaitOperationHue</string>
</dict>
</plist>
