<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesThroughType</key>
	<string>semanticAssetResponse</string>
	<key>smartControllerInterval</key>
	<string>dropdownbuttonDespiteMemento</string>
</dict>
</plist>
