<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartObserverMode</key>
	<string>cubeOrStrategy</string>
	<key>expandedOperationIndex</key>
	<string>fusedVectorDirection</string>
	<key>newestDrawerFeedback</key>
	<string>prevEntityAlignment</string>
	<key>normalResultShade</key>
	<string>metadataAlongPlatform</string>
	<key>pointAlongFunction</key>
	<string>textBySingleton</string>
	<key>sampleAmongStrategy</key>
	<string>observerStageSkewy</string>
	<key>sessionStrategyFrequency</key>
	<string>directlyAssetMargin</string>
	<key>specifyCurveOrientation</key>
	<string>oldViewRotation</string>
</dict>
</plist>
