<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncFactoryHead</key>
	<string>viewAmongInterpreter</string>
	<key>callbackExceptTask</key>
	<string>unsortedOffsetOrientation</string>
	<key>cardProxyTint</key>
	<string>serviceActionVisible</string>
	<key>monsterProcessHead</key>
	<string>diffableMetadataOrientation</string>
	<key>remainderVisitorStyle</key>
	<string>activatedTopicStatus</string>
	<key>robustDelegateSize</key>
	<string>dedicatedDelegateInterval</string>
	<key>smallSpriteDelay</key>
	<string>modulusDespiteStructure</string>
	<key>textfieldForNumber</key>
	<string>labelInsideScope</string>
	<key>transformerSystemTint</key>
	<string>exceptionOutsideStyle</string>
</dict>
</plist>
